[2019-09-23 16:29] ronaldtse opened #1 "Create portable Metanorma Ruby package on macOS (using ruby-packer)"
Metanorma is a sophisticated document publishing tool for standardization bodies.
It is written in Ruby with a number of dependencies.

User organizations of Metanorma run on multiple platforms, including Windows, Linux and macOS.

The challenge is how to ensure the distribution and installation of Metanorma works on the target system reliably. Today, Metanorma offers:

* Ruby gem
* Linux setup sc

[2019-09-23 16:29] ronaldtse commented on #1
Our goal is to be able to run the full set on any platform, with as many cross-platform dependencies as much as we can. It could be an iterative work; I imagine that we will need some changes to ruby-packer as well.

[2019-09-23 16:32] ronaldtse commented on #1
From @w00lf :

[2019-09-23 16:34] ronaldtse commented on #1
@w00lf I feel that you may want to directly fork the latest ruby-packer and apply any useful PRs (https://github.com/pmq20/ruby-packer/pulls) to it. I suspect that we will need a better maintained ruby-packer to achieve what we need. Thoughts?

[2019-09-23 20:15] w00lf commented on #1
Sure, i will fork it and see what can be taken from the original repo. Also, there is a number of interesting forks from ruby-packer original repo, for example, this repo - https://github.com/kontena/ruby-packer hash ruby 2.6.0 support.

[2019-09-24 03:17] ronaldtse commented on #1
@w00lf I've forked the repo here: https://github.com/metanorma/ruby-packer .  Feel free to change things around (or apply additional PRs / fixes) !

[2019-09-24 03:18] ronaldtse commented on #1
@w00lf the current arrangement of ruby-packer internalizing other projects' source code into the repo (under `/vendor`) is really strange. Could you change them to be submoduled instead? Thanks.

[2019-09-29 07:08] w00lf commented on #1
Can you please explain a little bit more? Ruby packer puts source code in this folder because it creates memory file system and needs all gems located in one folder.

[2019-09-29 07:10] ronaldtse commented on #1
@w00lf the presence of the code in vendor/ (e.g. OpenSSL) pollutes the history. We want these changed into submodules; if we need to maintain our own forks, that's fine.

[2019-09-29 07:35] w00lf commented on #1
Ok, see your point now. As i understand this was done because of ruby packer maintainers use that hardcoded version of bundler and all its dependencies in order to compile executable. Thats why they were placed there in the first place. You think of separating them in standalone git module that then required in main gem? Something like ruby-packer-dependencies?

[2019-09-29 07:38] ronaldtse commented on #1
I think there are two reasons why they were in vendor/.

1. It was easy to do and manage
2. They needed to patch the vendor codes to work with ruby-packer

But the trouble of maintaining those vendor codes inside the main repo distracts from the actual work. e.g. if one submits an OpenSSL update PR, you don't even know if those were originally from OpenSSL. I'd rather carry patches or patch the fo

[2019-09-29 07:40] w00lf commented on #1
Ok, got you. Will work on it after osx executable is ready.

[2019-10-04 02:25] ronaldtse opened #3 "Create portable Metanorma Ruby package runnable on Linux"

[2019-10-04 02:25] ronaldtse opened #4 "Create portable Metanorma Ruby package runnable on Windows"

[2019-10-04 02:59] ronaldtse opened #5 "`rubyc` should be downloaded on run instead of checked into git repo"

[2019-10-06 08:38] w00lf opened #6 "Sassc fork, ffi_lib lookup issue"
Currently, build uses forked version of gem sassc, it was done this way because ruby-packer does not know how to properly handle ffi_lib ruby call - https://github.com/w00lf/sassc-ruby/blob/master/lib/sassc/native.rb#L11. Ruby packer uses patched Dir and File classes that redirect all call to fs starting with path /__enclose_io_memfs__/ to memory filesystem, however, this is not the case for ffi_l

[2019-10-06 11:57] w00lf commented on #5
Tackled this in #2
- removed executable from repo
- download rubyc from http://enclose.io/rubyc/rubyc-darwin-x64.gz during build process

[2019-10-06 11:57] #5 closed

[2019-10-08 17:39] ronaldtse commented on #6
@w00lf could you have those forks setup under the metanorma account? That would make it easier for us to manage all code under one umbrella. Thanks!

[2019-10-08 18:02] w00lf commented on #6
Sure, Ronald, will do.

[2019-10-08 21:58] ronaldtse opened #8 ""metanorma" command output help displays `metanorma_entry_point` instead of `metanorma`"
As title:

[code]

Should have been:

[code]

[2019-10-08 22:00] ronaldtse opened #9 "Reference auto-fetching doesn't work yet"
With packed-mn on macOS:

[code]

With normal macOS:
[code]

[2019-10-14 05:19] w00lf commented on #8
Fixed in #11

[2019-10-14 05:19] #8 closed

[2019-10-14 05:35] w00lf commented on #6
Mooved in #11

[2019-10-18 08:36] ronaldtse opened #12 "macOS built executable crashes with reference auto-fetch from NIST"
From user:

It runs and crashes with this trace.

[code]

[2019-10-18 08:37] ronaldtse commented on #12
![image](https://user-images.githubusercontent.com/11865/67079296-3862db00-f193-11e9-8e93-ad733e27ffc7.png)

[2019-10-18 08:40] ronaldtse commented on #12
In particular, I believe this problem only occurs when Relaton fetches the NIST document bibliography which is zipped. I'm not sure where else we use `rubyzip`.

1. @andrew2net can you help answer the above question? We want to know if it's a general issue across `metanorma` or only `relaton-nist`.
2. @w00lf could we patch `rubyzip` to fix this?

[2019-10-18 08:58] andrew2net commented on #12
@ronaldtse it's the `relaotn-nist` issue. Something is wrong with the archive.

[2019-10-18 09:02] ronaldtse commented on #12
@andrew2net or is this an issue with `rubyzip` INSIDE the packed executable? Because the packed executable uses a read-only FS...

[2019-10-18 10:35] andrew2net commented on #12
@ronaldtse does the file `lib/relaton_nist/data/pubs-export.zip` exist in `relaton-nist` gem? Maybe it's corrupted. Try to remove the file, then the gem will fetch another one.

[2019-10-18 10:48] ronaldtse commented on #12
Is it trying to expand that archive in place within the gem? Because this is a read only file system, you will need to expand this in a separate tempdir provided by the system.

[2019-10-18 10:49] ronaldtse commented on #12
And the gem should really fetch that the bibliography from nist.gov and store in computer’s relaton cache, rather than having a zip file inside the gem?

[2019-10-18 11:27] andrew2net commented on #12
The `relaton-nist` reads data from an archive and assign it to a variable. It doesn't use files to save an expanded file.
[code]
But I don't know about the `zip` gem. Maybe it tries to make a temp file. Suppose if it does it uses a system's tempdir.

[2019-10-18 11:49] andrew2net commented on #12
We implemented the functionality https://github.com/relaton/relaton-nist/issues/20 to reduce the number of HTTP requests. We need to check the archive's date creation and get a new one then it's available and save it somewhere.
The `relaton-nist` doesn't have a cahe to save all the documents from arhive. It's used by the `relaton` to fetch documents.

[2019-10-20 18:10] w00lf commented on #9
This particular error happens because of ssl certificate verification failure during https request to https://www.iso.org:

![image](https://user-images.githubusercontent.com/1158036/67163702-dc5aab00-f37a-11e9-8006-11ea01c46891.png)

Gem relaton_iso is fixed on https request to www.iso.org:
https://github.com/relaton/relaton-iso/blob/v0.6.5/lib/relaton_iso/hit_collection.rb#L24

Verification fail

[2019-10-20 23:13] ronaldtse commented on #9
@w00lf Questions:

1. If we bundle the OS SSL certificates, will it work?
2. We probably should update the OpenSSL version? 2017 is a LONG time ago...

[2019-10-20 23:21] ronaldtse commented on #9
And in general we should probably update all the Ruby-packer vendor dependencies to the latest released versions.

[2019-10-21 05:04] w00lf commented on #9
I think it will, you can set cert file for openssl gem inside the code. The question here is how much time we will spend on this in the end)

Yes, i if it can be updated painfulness inside ruby-packer fork.

[2019-10-21 08:13] ronaldtse commented on #9
Perhaps the code can fetch SSL certificates from system?

[2019-10-21 08:29] ronaldtse commented on #12
@andrew2net I found the issue.

This code is saving the `pubs-export.zip` DIRECTLY in the local gem directory:

https://github.com/relaton/relaton-nist/blob/236d3b7b1297410df8ea492be81aea90135af8d6/lib/relaton_nist/hit_collection.rb#L13
[code]

This is called from the `fetch_data` method:

https://github.com/relaton/relaton-nist/blob/236d3b7b1297410df8ea492be81aea90135af8d6/lib/relaton_nist/hit_co

[2019-10-21 09:21] w00lf commented on #12
Can you fix this ASAP? Thanks.

Ok, will create fix today

[2019-10-21 09:31] ronaldtse commented on #12
@w00lf I think @andrew2net needs to make the fix in `relaton-nist`? He will know where to store the `relaton` cache files...

[2019-10-21 09:33] w00lf commented on #12
Ok, got you

[2019-11-04 08:03] #9 closed

[2019-11-04 09:18] w00lf commented on #12
@andrew2net tried to upgrade the application to relaton-nist 3.8.0 that contain your fixes but encountered an error in `metanorma-nist` gem:

[code]

I was testing on samples from `mn-samples-nist`: NIST.SP.800-116r1.adoc and NIST.SP.800-126r3.adoc

[2019-11-04 09:20] ronaldtse commented on #12
@w00lf could you update the whole Metanorma stack? metanorma-nist is already at 0.2.6 but the metanorma-nist used here is 0.2.2.

[2019-11-04 09:20] w00lf commented on #12
Ok, will do

[2019-11-13 07:30] w00lf commented on #12
Update all gem dependencies to latest versions in #15

[2019-11-13 07:30] #12 closed

[2019-11-13 09:24] w00lf opened #17 "osx: Uploaded compiled asset to github release lose execute permissions"
Currently, our github action build creates a new release with compiled binary asset attachment, however, such upload is lacking execute permissions so it need to be packed to execute container - dmg

[2019-11-23 00:43] ronaldtse opened #18 "build.sh add test for Linux?"
Do we have to fix this test?

https://github.com/metanorma/packed-mn/blob/1e81c207d5080064bc24bcf125cb7053a9e5d79a/bin/build.sh#L5-L10

_Originally posted by @ronaldtse in https://github.com/metanorma/packed-mn/pull/10_

[2019-11-23 14:26] w00lf commented on #18
Wrong test for the platform, fixed in https://github.com/metanorma/packed-mn/commit/9ab018038a40e3af8d8d7ce10aef273141d61e10

[2019-11-23 14:26] #18 closed

[2019-11-23 14:27] w00lf commented on #3
#10

[2019-11-23 14:27] #3 closed

[2019-11-23 14:36] ronaldtse commented on #18
Thanks @w00lf !

[2019-11-28 04:09] ronaldtse commented on #1
@w00lf this is now done, right?

[2019-11-28 04:14] ronaldtse commented on #17
@w00lf apparently there is the way to do so: https://forums.developer.apple.com/thread/120989

But it's kind of complicated, and I wonder if it's easier to just distribute the packed-mn via Homebrew https://github.com/metanorma/homebrew-metanorma. (and we can make it an option to install the single binary vs the development chain).

Thoughts @opoudjis @CAMOBAP795 ?

[2019-11-28 07:13] w00lf commented on #1
Yes, we can close it.

[2019-11-28 07:36] ronaldtse commented on #1
Thanks!

[2019-11-28 07:36] #1 closed

[2019-12-10 06:07] ronaldtse commented on #17
We might be able to use https://www.electron.build to sign the executable within a DMG, done just like in:
https://github.com/ituob/itu-ob-editor/blob/master/.github/workflows/build-electron.yml

So it should be possible.

[2019-12-10 06:22] ronaldtse commented on #17
Seems like we need to first package the binary in a DMG or PKG format from the Apple Community post above.

Here's some command line guidance for creating a DMG file:
https://askubuntu.com/questions/1117461/how-do-i-create-a-dmg-file-on-linux-ubuntu-for-macos

And we can also use this to create a PKG installer:
https://medium.com/swlh/the-easiest-way-to-build-macos-installer-for-your-application-3

[2019-12-10 06:24] ronaldtse commented on #17
For the record, this is what we need to do on the "executable" itself:

From https://forums.developer.apple.com/thread/120989

(The last step would be for Electron Builder)

[2020-04-06 07:48] ronaldtse opened #20 "Dynamically trigger build/release of packed-mn macOS and Linux from metanorma-cli"
This issue is to trigger an automatic build and release of packed-mn binaries from a release of metanorma-cli, just like metanorma-docker.

[2020-04-06 07:48] ronaldtse commented on #20
@w00lf could you please help @CAMOBAP795 on this task? Thanks!

[2020-04-08 07:49] CAMOBAP795 commented on #20
There are a couple issues was discovered during release so I working on them

cc @w00lf @ronaldtse

[2020-04-08 13:55] CAMOBAP795 commented on #20
[code]

Investigation in progress

[2020-04-08 14:12] ronaldtse commented on #20
@CAMOBAP795 I'm not familiar with the compilation of this but @w00lf would be able to explain. He has made a fork of sassc (https://github.com/metanorma/sassc-ruby/) in order to make things work, maybe this is related?

[2020-04-08 14:24] CAMOBAP795 commented on #20
@w00lf if you have some insights on the problem above please let me know

<details><summary>Here is `Gemfile.lock` diff</summary>
<p>

[code]

</p>
</details>

[2020-04-08 16:19] w00lf commented on #20
Hi there, can you send me the command you are testing with? As well as compiled distr

[2020-04-08 16:53] CAMOBAP795 commented on #20
@w00lf you can build it with `env GITHUB_REF=refs/tags/v1.2.11 make build` on master

Should I pack `build` or `$TEMP_DIR/metanorma` directory?

[2020-04-08 16:57] w00lf commented on #20
Can you send me the command and adoc file you are trying to compile?

[2020-04-08 17:00] CAMOBAP795 commented on #20
@w00lf  `./build/metanorma --type iso -x html ./sources/iso/iso-rice-en.adoc`

More details here:
https://github.com/metanorma/packed-mn/runs/570819019?check_suite_focus=true#step:14:97

[2020-04-08 17:00] w00lf commented on #20
Thx

[2020-04-09 07:37] w00lf commented on #20
@ronaldtse @CAMOBAP795 after some debugging i have found the issue. We use sassc mixins extensively, load path for them is set in isodoc:
[code]
https://github.com/metanorma/isodoc/blob/c8b6f3127712f8e582980fd983118acdffec9dc1/lib/isodoc/convert.rb#L132

Because of ruby packer, these specs paths all start with `/__enclose_io_memfs__/` and exists only inside memfs. Thats why libsass don't understan

[2020-04-09 08:46] CAMOBAP795 commented on #20
@w00lf thanks for the investigation.

To be on the same page tests are passed on master (for currently committed Gemfile.lock). The problem only happens on release flow when we do `bundle update` for specific version of `metanorma-cli`

According to diff on `Gemfile.lock`

[code]
So it works for `isodoc@1.0.6` but doesn't work for `isodoc@1.0.23`

According to diff, more likely it's related to thi

[2020-04-09 12:01] w00lf commented on #20
The reason why it works on 1.0.6 is because recently we released new versions to all flavors(iso, nist, rsd and others) and in this new version we have rewritten scss to use isodoc mixins, before that it was just simple scss file.

[2020-04-09 12:41] CAMOBAP795 commented on #20
@w00lf thanks for the explanation, I'm not very familiar with `rubyc` & `memfs`, is it possible to write some custom "path resolver" for `memfs` to be able to avoid tmp copy?

@ronaldtse @w00lf because the original topic is done (CI triggered by metanorma-cli) I propose to continue work in a separate task or rename this one, how do you think?

[2020-04-09 13:04] w00lf commented on #20
Unfortunately, I dont have that much clang experience to do that. I can only create ruby patch.

[2020-04-15 14:36] CAMOBAP795 commented on #20
@ronaldtse how do you think?

[2020-04-20 16:00] ronaldtse commented on #20
@w00lf could you please help make this happen? We need to make packed-mn workable and auto-releasing. Thanks!

[2020-04-20 16:01] ronaldtse opened #23 "Make macOS/Linux metanorma executable work with isodoc 1.0.23+"
According to diff on `Gemfile.lock`

[code]
So it works for `isodoc@1.0.6` but doesn't work for `isodoc@1.0.23`

According to diff, more likely it's related to this line of code (because the one which you mentioned above are the same in those two versions)

https://github.com/metanorma/isodoc/compare/v1.0.6...v1.0.23#diff-046372203253a7905645bbe2f6a38e05L132

_Originally posted by @CAMOBAP795 in h

[2020-04-20 16:01] ronaldtse commented on #23
From @w00lf

[2020-04-23 16:11] ronaldtse opened #24 "Problem with running 10.15 built binary on 10.13"
The following log appears when running current binary on 10.13.

We might want to offer binaries for legacy systems.

[code]

[2020-04-24 19:30] w00lf opened #26 "iso-639 gem language file read issue."
Versions of this gem after 0.2.10 all has the issue with reading language file inside compiled applciation.
[code]

This error occurs in lib/iso-639.rb file during the reading of the language file, for some reason, compiled version reads file partially starting from 31-th line:

[code]

[2020-04-24 19:57] ronaldtse commented on #26
No idea why... Can we use this instead of the foreign `iso-639` gem?

* https://github.com/glossarist/iev-data/blob/master/lib/iev/termbase/iso_639_code.rb
* https://github.com/glossarist/iev-data/blob/master/lib/iev/termbase/iso_639_2.yaml

We could move this to new gem too.

[2020-04-25 02:16] ronaldtse commented on #20
@CAMOBAP795 if #23 is fixed, can you help make GHA auto-release the executables on GitHub Packages? Just like: https://github.com/fontist/source-fonts/blob/master/.github/workflows/release.yml

We want to auto-release both macOS and Linux binaries. Thanks!

[2020-04-25 08:48] w00lf opened #27 "Clean up Gemfile"
Clean up the Gemfile completely (and remove Gemfile.lock) to only contain:

- metanorma-cli (which will require the rest)
- ~~sassc-ruby~~
- ~~ruby-jing~~ https://github.com/metanorma/packed-mn/issues/37

[2020-04-25 09:00] ronaldtse commented on #23
Done in #25 , closing.

[2020-04-25 09:00] #23 closed

[2020-04-30 20:26] CAMOBAP795 commented on #20
@ronaldtse done https://github.com/metanorma/packed-mn/releases/tag/v1.2.11

[2020-04-30 20:26] #20 closed

[2020-05-01 14:26] ronaldtse commented on #20
Awesome thanks @CAMOBAP795 !

[2020-05-01 18:44] ronaldtse opened #28 "URGENT: Not able to run compiled binary"
On execution this is what it says:

[code]

Maybe the build mechanism is incorrect?

ping @w00lf @CAMOBAP795

[2020-05-01 18:48] CAMOBAP795 commented on #28
Hmm strange all test has been passed on 1.2.11 release https://github.com/metanorma/packed-mn/runs/634245928?check_suite_focus=true

Also, I didn't change build scripts much, let me check rubyc documentation...

[2020-05-01 19:09] w00lf commented on #28
@ronaldtse on what release version is it?

[2020-05-01 19:13] ronaldtse commented on #28
https://github.com/metanorma/packed-mn/releases/tag/v1.2.11

[2020-05-01 19:59] w00lf commented on #28
I think this error happens because packed-mn was built with 1.2.11 version because we have GITHUB_REF env variable inside build container, but after the build these env variable does not get preserved and when we run compiled application Gemfile changes and this error occurs. @CAMOBAP795 i should have though about that before i reviewed your PR, sorry, ruby-packer does not preserve NEV variables a

[2020-05-01 20:56] CAMOBAP795 commented on #28
@w00lf thanks for investigation, let me think about some logic which can modify Gemfile by itself for release flow

[2020-05-02 02:34] ronaldtse commented on #28
I've removed the release binary to prevent people fro using it. Please help fix ASAP, thanks.

[2020-05-04 12:29] CAMOBAP commented on #28
@ronaldtse retag in progress

[2020-05-04 13:28] CAMOBAP commented on #28
@ronaldtse for newly created release the command works

[code]

[2020-05-04 15:14] ronaldtse commented on #28
Thank you @CAMOBAP !

[2020-05-04 15:14] #28 closed

[2020-05-14 00:59] ronaldtse opened #30 "Check `metanorma setup` command"
With the merge of https://github.com/metanorma/metanorma-cli/pull/139 there is now a `metanorma setup` command that installs fonts on the user's computer, at `~/.metanorma/fonts`.

In packed-mn due to the presence of path redirects, we need to ensure that these fonts can still be installed in the right path (on the host computer, not in the binary) and read from the host computer.

[2020-05-15 04:08] ronaldtse opened #31 "Add in all mn-samples-* tests just like metanorma-docker"
Just like https://github.com/metanorma/metanorma-docker/pull/76

Thanks!

[2020-05-15 04:11] ronaldtse opened #32 "Release of metanorma-cli not triggering build for packed-mn"
Need to check why.

[2020-05-15 12:13] CAMOBAP commented on #32
Composite problem:
 - [x] metanorma-cli wasn't driggered by tags https://github.com/metanorma/metanorma-cli/commit/891dcec85c80e44745136e67c041dc53b867f9ad
 - [ ] after some update on github action push --tags doesn't work, investigation in progress

[2020-05-15 13:01] ronaldtse commented on #32
@CAMOBAP how can this be the case?

Also,

Is there an existing GitHub Actions action that does triggering? Thanks.

[2020-05-15 13:04] CAMOBAP commented on #32
According to https://github.community/t5/GitHub-Actions/Github-actions-workflow-not-triggering-with-tag-push/m-p/39772#M3959 it looks like expected behavior

@ronaldtse could you please create personal access token (PAT token) and we will use it for making tag commits

If we have some special user for this propose it will be nice because this user will be shown in all releases

[2020-05-15 13:06] CAMOBAP commented on #32
As you may see it was https://github.com/metanorma/metanorma-cli/commit/891dcec85c80e44745136e67c041dc53b867f9ad

Yes but it doesn't fit our needs, metanorma-cli send dispatch_repository to many repos. Existing actions support only one dispatch_repository per step, so we need duplicate as many steps as we need

[2020-05-15 13:09] ronaldtse commented on #32
Sure, in which repos do we need this PAT_TOKEN?

[2020-05-15 13:10] ronaldtse commented on #32
Can we make a GitHub Action for this that triggers multiple repositories? Thanks.

[2020-05-15 13:18] CAMOBAP commented on #32
We need it for all repos which doing `git tag`, so the list will be

 - https://github.com/metanorma/homebrew-metanorma
 - https://github.com/metanorma/metanorma-docker
 - https://github.com/metanorma/chocolatey-metanorma
 - https://github.com/metanorma/packed-mn
 - https://github.com/metanorma/metanorma-snap

Yes for sure but to be on the same page, there is no problem with https://github.com/met

[2020-05-15 13:34] ronaldtse commented on #32
@CAMOBAP the secret `METANORMA_CI_PAT_TOKEN` is now available in all those five repos.

The username is `metanorma-ci`.

[2020-05-15 14:00] CAMOBAP commented on #32
Just updated this repo & it works, I will propagate this to other repos

@ronaldtse I forgot about one more repo https://github.com/metanorma/mn2pdf-ruby could you please add PAT_TOKEN to it also

[2020-05-15 14:58] CAMOBAP opened #33 "Linux failure"
https://github.com/metanorma/packed-mn/actions/runs/105736571

[code]

[2020-05-15 15:26] CAMOBAP commented on #32
Done

@ronaldtse may I ask you to double-check https://github.com/metanorma/chocolatey-metanorma because it reports that metanorma-ci have no permissions for chocolatey-metanorma

[2020-05-15 15:27] CAMOBAP commented on #32
Formally this task is done but https://github.com/metanorma/packed-mn/issues/33 was discovered

@w00lf may I ask you to have a look?

[2020-05-17 09:35] CAMOBAP commented on #30
I faced with a problem

[code]

I tried to apply the similar fix https://github.com/metanorma/packed-mn/blob/master/bin/metanorma#L31-L38 for `liblibmspack.bundle` unfortunately it doesn't work, issue stay the same

@w00lf is it required that gem with native extensions must rebuild again? I'm asking because https://rubygems.org/gems/libmspack/versions/0.1.0 comes with prebuilt binaries

[2020-05-17 10:06] w00lf commented on #30
The problem here is that ruby native extensions load methods does not work with patched ruby packer paths, e.g. starting with `/__enclose_io_memfs__/`. You need to reference them from the real file system, the hack that you saw in https://github.com/metanorma/packed-mn/blob/master/bin/metanorma#L31-L38 is actually 2 step hack: the second part is in forked sassc gem: https://github.com/metanorma/sa

[2020-05-17 10:26] CAMOBAP commented on #30
@w00lf thanks for the explanation, I will proceed with a patch for this line https://github.com/davispuh/ruby-libmspack/blob/f5700d5a3a1638c846af9a041f64fbe219f5936e/lib/libmspack.rb#L18 this line need to be patched, right?

[2020-05-17 11:39] w00lf commented on #33
@CAMOBAP compilation exceeded allowed by github actions maximum time, what have you changed recently in build?

[2020-05-17 11:41] w00lf commented on #30
Yes, that's correct. You need to change it so that it references local path instead.

[2020-05-17 11:43] CAMOBAP commented on #33
The first time it started on 1.2.12 release https://github.com/metanorma/packed-mn/actions/runs/95231998

Probably the only way is to increase the time https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepstimeout-minutes

[2020-05-17 11:47] w00lf commented on #33
Oh, that's nice, let's try this. The reason why it is running so slowly is that ruby packer uses a lot of memory so we were forced to use swap. let's see if it can compile in 2 hours.

[2020-05-17 11:48] w00lf commented on #33
Funny thing is that osx build runs just like it is, no additional tweaks required, no swap needed.

[2020-05-17 11:53] CAMOBAP commented on #30
@w00lf one more question regarding this workaround, as far as I understand it, ideally it must be fixed on the ruby-packer side. According to [ruby-packer's README.md](https://github.com/pmq20/ruby-packer)

Also, I have found https://github.com/pmq20/ruby-packer/issues/46 it looks like the same problem which we are faced with, can you confirm this?

If no, should we report an issue to https://gith

[2020-05-17 11:57] w00lf commented on #30
Yes, it seems it seems like a similar issue. The thing with ruby-packer is that it's not actively maintained at all now, the latest release was almost 3 years ago and there is no answers from devs in issues so I don't think they will help us here.

[2020-05-17 17:03] CAMOBAP commented on #33
Hmm, looks like a problem with RAM, @w00lf how do you think it we will increase swap, can this help?

[2020-05-17 19:34] w00lf commented on #33
ok, currently that's 4 Gb of swap, github actions box has 14Gb SSD disk available total, we can try to increase it to 10

[2020-05-17 21:37] CAMOBAP commented on #33
Looks like it works)

[2020-05-18 13:01] #33 closed

[2020-05-19 09:37] #32 closed

[2020-05-19 09:38] CAMOBAP commented on #31
OSX passed successfully but it failed on Linux because of npm/puppeteer missing.

[code]

Isn't clear why `metanorma-iso:1.0.3` downloaded at all if in Gemfile.lock we have `metanorma-iso (~> 1.3.0)`

To be continued...

[2020-05-24 06:44] ronaldtse opened #36 "Upload artifacts for packed-mn output (all flavors)"
This allows us to check whether the flavors output are performed correctly on every platform.

[2020-05-24 06:45] ronaldtse opened #37 "Remove custom Ruby-Jing hack"
Jing validation is not currently performed due to this hack. We should re-enable and fix it.

https://github.com/metanorma/ruby-jing/commit/c28d0204766b502c2239799d2e2605c6d7d7778e

[2020-05-24 06:48] ronaldtse opened #38 "Ensure Java programs like plantuml and mn2pdf are properly run inside the single binary"
As title.

[2020-05-24 07:36] CAMOBAP commented on #36
@ronaldtse is there a fast way to disable pdf generation for all flavors because of it, the final package will be huge

[2020-05-24 08:00] CAMOBAP commented on #38
I suppose the check already done on https://github.com/metanorma/mn2pdf-ruby/blob/master/lib/mn2pdf.rb#L28

And because we are running tests on different flavors metanorma will be finished with error exit code if one of the output failed

Regarding plantuml, we use it as an external dependency there should not be a problem when it exists, but I'm not sure that plantuml involved in the current test

[2020-05-24 16:05] ronaldtse commented on #38
Not really -- the packed-mn environment is very different because the JAR and associated files are located in the enclosed FS but need to interact with the user files on local FS. Moreover, mn2pdf needs to load fonts from ~/.metanorma/fonts, which is on local FS.

From my conversion with @w00lf it seems that mn2pdf etc will NOT work currently due to the way the enclosed FS is used.

A possible wor

[2020-05-24 16:19] CAMOBAP commented on #38
Yep, I saw calls to mn2pdf.jar in tests and it looks like it works properly, let me doublecheck

[2020-05-25 15:30] CAMOBAP commented on #6
@w00lf @ronaldtse how do you feel if we will 'patch' `ffi_lib` implementation with this approach http://ndlib.github.io/practices/responsible-overwriting-of-ruby-methods/ to accomplish the redirect to `/enclose_io_memfs/`

Will it works?

[2020-05-25 16:31] ronaldtse commented on #6
@CAMOBAP maybe overriding that method can work for libraries that use ffi. Does sassc use ffi?

[2020-05-25 16:32] CAMOBAP commented on #6
@ronaldtse as far as I remember yes, and we have problem only for those gems which use `ffi`

[2020-05-25 16:37] ronaldtse commented on #6
@CAMOBAP I just re-read the initial issue, and it seems this is the correct way to go.

[2020-05-26 06:38] CAMOBAP commented on #31
Fixed after update Gemfile.lock

[2020-05-26 06:38] #31 closed

[2020-05-26 09:25] CAMOBAP commented on #30
Paused because of https://github.com/metanorma/packed-mn/issues/6

[2020-05-26 19:09] w00lf commented on #6
Yes, the main problem is with ffi load of shared libraries, in case of sassc its libsass. Ffi include cannot work with compiled in-memory fs of ruby packer.

[2020-05-28 12:53] CAMOBAP commented on #30
Library loading issue solved in https://github.com/metanorma/packed-mn/pull/40

But for now, we have another problem, it doesn't relate to ruby-packer

[code]

Debugging...

[2020-05-28 17:00] CAMOBAP commented on #30
This happens because of missing `assets/ppviewer.cab` file. https://github.com/fontist/fontist/issues/29 - reported

[2020-06-03 21:21] CAMOBAP commented on #36
Done

[2020-06-03 21:21] #36 closed

[2020-06-03 21:21] CAMOBAP commented on #6
Done

[2020-06-03 21:21] #6 closed

[2020-06-04 06:19] ronaldtse opened #42 "Occasional linux run segfault due to Relaton-Bib workers_pool"
e.g. https://github.com/metanorma/packed-mn/pull/35/checks?check_run_id=723108232

[code]

@andrew2net any idea why relaton-bib fails here? Maybe it's trying to write to the read-only FS?

[2020-06-04 06:20] ronaldtse commented on #42
Or looks like the worker is gone -- something is dereferencing `Segmentation fault at 0x00000000000000`.

[2020-06-04 12:37] CAMOBAP commented on #24
Done

[2020-06-04 12:37] #24 closed

[2020-06-04 12:40] ronaldtse commented on #42
Looks likes it went away. Strange.

[2020-06-04 12:40] #42 closed

[2020-06-04 12:45] ronaldtse commented on #24
Thank you @CAMOBAP !

[2020-06-04 12:47] ronaldtse opened #43 "Add Linux binary release"
In the latest release we only have macOS. Need to add Linux.

[2020-06-04 12:49] ronaldtse commented on #27
And combine Gemfiles -- linux/macos and Windows Gemfiles are identical.

[2020-06-04 12:49] ronaldtse commented on #4
This is addressed in #35

[2020-06-04 12:49] #4 closed

[2020-06-04 12:50] ronaldtse commented on #37
Once #38 is fixed this should automatically be fixed.

[2020-06-04 12:51] CAMOBAP commented on #43
We have this logic already:

https://github.com/metanorma/packed-mn/blob/master/.github/workflows/build.yml#L100

For past two releases, CI for Linux was failed, this is why Linux binary is missed
 - 1.2.12 https://github.com/metanorma/packed-mn/actions/runs/105741117
 - 1.2.11 https://github.com/metanorma/packed-mn/actions/runs/95231998

@ronaldtse let me know if I should add those binaries manua

[2020-06-04 12:56] ronaldtse commented on #43
@CAMOBAP We need to return the latest binary, so only 1.2.12. Thanks!

[2020-06-05 15:42] CAMOBAP commented on #43
Done manually for 1.2.12, for new releases it will work automatically

[2020-06-05 15:42] #43 closed

[2020-06-06 18:23] CAMOBAP commented on #26
@w00lf @ronaldtse I cannot reproduce the original error, but when I run `./build/metanorma --type iso -x html ./sources/iso/iso-rice-en.adoc`

It ends with:
[code]

Should we investigate this problem in the scope of this task?

[2020-06-07 07:23] ronaldtse commented on #26
@CAMOBAP this is the issue with SASSC, that was the reason of the sassc fork. If the binary is failing, how can the builds be passing now?

[2020-06-07 07:23] ronaldtse commented on #26
I really think we should get rid of sassc using this: https://github.com/metanorma/metanorma/issues/109

[2020-06-07 08:23] CAMOBAP commented on #26
Good question, because `metanorma` returns zero exit code, and we check only exit code.
In my opinion, we should fix this, @ronaldtse how do you think?

[2020-06-08 21:11] ronaldtse opened #46 "(URGENT) Upload latest Windows build package and auto-build and release"
Urgent. Thanks!

[2020-06-10 11:01] CAMOBAP commented on #27
Merged

[2020-06-10 11:01] #27 closed

[2020-06-26 03:44] CAMOBAP commented on #26
Just reproduced original problem somehow:

[code]

[2020-07-05 21:27] CAMOBAP opened #48 "Improve windows"
Directions to improve:
 - make `parallels` works for on CI workflow
 - research why `metanorma-ribose` and `metanorma-mpfa` gems don't work
 - research performance issues

cc @ronaldtse

[2020-07-05 21:33] CAMOBAP commented on #46
Merged, once CI will be passed I will release last binaries for 1.3.1

[2020-07-05 23:22] ronaldtse commented on #46
CI passed, waiting for release here 😉

[2020-07-06 06:59] CAMOBAP commented on #46
CI in progress

[2020-07-06 09:00] ronaldtse commented on #17
This is done in https://github.com/metanorma/homebrew-metanorma/issues/53.

The original issue on DMG building still applies.

[2020-07-06 09:18] ronaldtse opened #49 "Version 1.3.0 failure in compiling ISO documents"
[code]

This seems to requires solving #38 and metanorma/metanorma#109.

[2020-07-06 09:18] ronaldtse commented on #49
In addition, the build flow should be able to detect this problem (after they are fixed, of course).

[2020-07-06 10:32] CAMOBAP commented on #37
Done

[2020-07-06 10:32] #37 closed

[2020-07-06 10:40] CAMOBAP commented on #46
Done

[2020-07-06 10:40] #46 closed

[2020-07-06 10:48] CAMOBAP commented on #49
Initially, the issue was discovered by https://github.com/metanorma/packed-mn/issues/26#issuecomment-640099497

##### Why it doesn't fail ?

Because metanorma-cli return 0 exit code and this is wrong behavior

##### Proposed solution

Two-step fix:
 - on packed-mn side, apply similar fix as for jing unpack
 - return non-zero exit code if ssaasc failed

[2020-07-09 23:25] ronaldtse commented on #38
We also use mn2sts.

In total, we use these JARs:

* plantuml
* Jing
* mn2pdf
* mn2sts

Hope we can resolve this very soon. Thanks!

[2020-07-12 09:25] CAMOBAP commented on #38
@ronaldtse #49 ready for review

[2020-07-13 10:04] ronaldtse opened #52 "Ensure plantuml JAR works in packed-mn"
We will need some repo to test plantuml.

_Originally posted by @CAMOBAP in https://github.com/metanorma/packed-mn/pull/51#issuecomment-657039279_

[2020-07-13 10:04] #38 closed

[2020-07-13 10:06] CAMOBAP commented on #52
@ronaldtse I sure that we should have something already, how plantuml blocks should look like in `adoc`?

[2020-07-13 13:39] ronaldtse commented on #52
Just this:

[code]

[2020-07-13 13:43] CAMOBAP commented on #52
@ronaldtse thanks, I have found `[plantnml]` section in https://github.com/metanorma/mn-templates-itu/blob/master/recommendation/sections/06-content.adoc#basic-data-types

I will test against it locally

[2020-07-13 13:49] ronaldtse commented on #52
Thanks @CAMOBAP !

[2020-07-14 16:36] CAMOBAP commented on #52
I have tested:
 - https://github.com/metanorma/mn-templates-itu/blob/master/supplement/document.adoc
 - https://github.com/metanorma/mn-templates-itu/blob/master/recommendation/document.adoc

Here is example of generated plantuml image

![plantuml20200714-27325-ya7cen](https://user-images.githubusercontent.com/2169738/87451490-96c8c700-c608-11ea-861e-eb46e6ab1ec1.png)

Based on:

[code]

Looks cor

[2020-07-14 17:27] ronaldtse commented on #52
Thanks @CAMOBAP !

Yes, this is important:

Can you please file in metanorma/metanorma repo? Thanks!

[2020-07-14 19:39] CAMOBAP commented on #52
Done, @ronaldtse should we still keep it?, or maybe we should add templates testing with packed-mn? In this case, I think we will not need extra plantuml repo

[2020-07-15 05:06] ronaldtse commented on #52
Let's close this issue.

Agree, we should add templates testing for all executable deliverables (docker, homebrew, chocolatey, packed-mn). But that's a separate ticket.

[2020-07-15 05:06] #52 closed

[2020-07-16 05:06] ronaldtse opened #53 "Broken usage of sassc in 1.3.2"
[code]

[2020-07-16 05:06] ronaldtse opened #54 "Broken usage of JAR usage in 1.3.2"
[code]

[2020-07-16 06:33] ronaldtse commented on #53
This is the macOS build. This can be tested using https://github.com/CalConnect/csd-vpoll

[code]

(also happens with Linux build)

[2020-07-16 06:33] ronaldtse commented on #54
Reproduction mechanism same as https://github.com/metanorma/packed-mn/issues/53#issuecomment-659189658

[2020-07-16 08:41] CAMOBAP commented on #53
This happens because of fix was merged after 1.3.2 tag, I will retag

[2020-07-16 08:42] ronaldtse commented on #53
Thanks @CAMOBAP ! Please let me know once fixed.

[2020-07-16 08:42] CAMOBAP commented on #53
Waiting for https://github.com/metanorma/packed-mn/actions/runs/171098198

[2020-07-16 10:17] ronaldtse commented on #53
Seems that the build failed?

[2020-07-16 10:19] CAMOBAP commented on #53
@ronaldtse as far as I see the only osx failed because of network issue on mn-samples-gb, let's wait for Linux job finish

[2020-07-16 10:35] CAMOBAP commented on #53
restarted jobs

@ronaldtse I propose to split the single workflow file because currently, GHA doesn't allow to rerun for failed jobs only, it will rerun all jobs in the scope of the same workflow

[2020-07-16 10:37] ronaldtse commented on #53
@CAMOBAP agree. It is an annoyance indeed...

[2020-07-16 13:27] ronaldtse commented on #54
Verified -- it works. Thanks!

[2020-07-16 13:27] #54 closed

[2020-07-16 13:27] ronaldtse commented on #53
Verified -- it works. Thanks!

[2020-07-16 13:27] #53 closed

[2020-07-16 15:46] ronaldtse opened #55 "Linux build: not working on Ubuntu 18.04"
Reproduced as:

[code]

[2020-07-16 23:16] douglm commented on #55
This wasn't the docker container...

[2020-07-17 00:30] ronaldtse commented on #55
Ah, I meant that I was doing this within a docker container 😉

[2020-07-19 16:41] CAMOBAP commented on #55
According to research, it looks like `libstdc++6` outdated

Step:
 - update gcc to 9 version as described here https://askubuntu.com/a/1149383/108937
 - upgrade libstdc++6 with `apt-get --only-upgrade install libstdc++6`

@w00lf maybe you know, can we 'downgrade' this requirements somehow?

[2020-07-20 17:29] CAMOBAP commented on #49
@ronaldtse according to my understanding this can be closed because:
 - new version released
 - `return non-zero exit code if ssaasc failed` doesn't make sense anymore because we removed this dependency

[2020-07-20 17:29] #49 closed

[2020-07-20 17:30] CAMOBAP commented on #30
Done

[2020-07-20 17:30] #30 closed

[2020-07-23 08:07] CAMOBAP commented on #55
The static link approach should work, one more test in progress

[2020-07-25 16:13] CAMOBAP commented on #55
Doesn't work, more information was gathere
 - According to the log, ruby-sassc native extension wasn't recompiled
 - https://github.com/pmq20/ruby-packer/issues/50 - similar issue was reported a while ago
 - There was introduced an option for static linkage libsass, https://github.com/sass/sassc-ruby/commit/82caf8e6e457796a767e59c773db7b301c2210a4

Trying it...

[2020-07-25 17:59] w00lf commented on #55
Recently we released new version of isodoc that does not depends on libsass at all an uses precompiled css, let me try to update version and test it.

[2020-07-26 09:31] CAMOBAP commented on #55
Original issues fixed,

We have two more sassc related:
 - https://github.com/metanorma/iso-10303/pull/72#issuecomment-663866878
 - https://github.com/metanorma/iso-10303/pull/72#issuecomment-663944574

[2020-07-27 00:27] ronaldtse opened #57 "Failed build in 1.3.4 (since 1.3.3.1)"
Notice it is due to a 50+ mins timeout.

https://github.com/metanorma/packed-mn/runs/911533542?check_suite_focus=true

[code]

[2020-07-27 07:04] CAMOBAP commented on #57
It failed because of the list of issues:
 - clang timeout (Linux only), working on it
 - mn-samples-nist compilation because of bug (all workflows affected) https://github.com/metanorma/metanorma-nist/issues/224

[2020-07-30 01:52] ronaldtse commented on #57
@CAMOBAP now the build is only failing on Linux.

[2020-07-31 00:56] ronaldtse commented on #55
Also, when we test, we should test on both ubuntu 16.04 and ubuntu 18.04.

[2020-07-31 06:18] CAMOBAP commented on #57
@w00lf maybe you have rubyc for Linux locally, if so could you please share upload it to https://github.com/metanorma/ruby-packer/releases/tag/v0.4.0 as rubyc-linux-x64

[2020-07-31 20:13] CAMOBAP commented on #57
Compiled Linux version with

[code]

Added just in case

[2020-07-31 20:14] CAMOBAP commented on #57
Waiting for CI

[2020-08-03 09:27] CAMOBAP commented on #57
Summary of observed issues:
 1. end of file reached (Down::ConnectionError) - happens from time to time on font install step
 2. memory issue on Linux container when compiling with clang, even with 8gb swap, for some reason after 1.3.3 of metanorma-cli gem size increased +50Mb (from 14Mb to 66Mb)

To be continued...

[2020-08-05 06:19] ronaldtse commented on #57
@CAMOBAP re:

I have updated/released the Fontist gem so it now fetches from a more reliable source. Is this issue still around?

Ping @w00lf ?

[2020-08-05 06:22] CAMOBAP commented on #57
@ronaldtse @w00lf regarding the second problem, I have confirmed with @opoudjis that there are no problem metanorma-cli gem size it is expected size

Also, I have one more idea to test, on ubuntu `make` runs with `j4` for some reason, but according to the specs actual machine are `2-core CPU`, I will try this if `9g` will not work

[2020-08-05 08:14] CAMOBAP commented on #57
Also I noted that because metanorma-cli is bigger then previously we often get:

[code]

Not only for this repo but for any `gem install metanorma-cli`

[2020-08-05 09:47] CAMOBAP commented on #57
`make -j2` doesn't help, at the moment I'm running out of new ideas

@w00lf @ronaldtse if you have any idea, please let me know, at this point, I see the only solution - reduce the size of metanorma-cli

[2020-08-05 09:50] ronaldtse commented on #57
I don't understand why metanorma-cli includes gems inside the gem? It's not supposed to include any gem...? AH Maybe it is something to do with the build process -- the new "gemspec" may have included files it should not have included?

[2020-08-05 09:55] CAMOBAP commented on #57
this was a surprise for me too

https://rubygems.org/gems/twitter_cldr isn't big by itself looks like it downloads resources on-demand, but why are they being packed?

I have checked https://github.com/twitter/twitter-cldr-rb issues but didn't found anything relevant...

[2020-08-05 19:18] w00lf commented on #57
Recently we released new versions of gems without sassc dependency, instead of it we are packing compiled css files into flavors, this could be the reason why metanorma-cli size increased drastically. Changes were performed almost for each flavor, so compiled css files added for each gem.

[2020-08-05 19:24] w00lf commented on #57
@ronaldtse @CAMOBAP although i did check one of the flavor size - metanorma-ogc, there is no much difference in size:
Old version:
[code]

New version:
[code]

[2020-08-06 10:48] ronaldtse commented on #57
@w00lf I don't think the stylesheets are the issue.

In fact, I see tons of shit inside metanorma-cli release:

[code]

This is a problem with the release process. Ping @opoudjis . We need to re-release this gem.

[2020-08-06 11:56] opoudjis commented on #57
Done

[2020-08-06 12:43] ronaldtse commented on #57
Thanks @opoudjis ! @CAMOBAP can you he’ll check this issue again?

[2020-08-06 13:21] CAMOBAP commented on #57
@ronaldtse build was started automatically https://github.com/metanorma/packed-mn/runs/953618869?check_suite_focus=true, so far build step passed, waiting for samples compilation

[2020-08-06 13:27] CAMOBAP commented on #57
BTW that's impressive:

[code]

@opoudjis good job

[2020-08-06 15:12] ronaldtse commented on #57
All done!! Closing now. Thank you guys!

[2020-08-06 15:12] #57 closed

[2020-08-08 20:08] ronaldtse commented on #55
Ping @CAMOBAP this issue still needs fixing, we should add Ubuntu 18.04 into our build matrix.

[2020-08-13 10:49] CAMOBAP commented on #55
Works now

[2020-08-13 10:49] #55 closed

[2020-08-13 11:51] ronaldtse commented on #55
Thank you!!

[2020-09-04 05:04] CAMOBAP opened #60 "1.3.7.1 linux failed"

[2020-09-09 07:47] ronaldtse opened #61 "Remove sassc loading"
Since a few versions ago Metanorma no longer uses SassC at runtime:

Can we remove these lines?
https://github.com/metanorma/packed-mn/blob/4f7dd68af20b9ed4ffae9dbb9acbea8531536804/bin/metanorma#L128

cc: @w00lf

[2020-09-09 08:13] ronaldtse opened #62 "packed-mn not generating PDF"
`mn2pdf` doesn't seem to be able to run in packed-mn:

[code]
ll mn-samples-iso/sources/international-standard/ | grep -v adoc
total 2336
drwxr-xr-x   4 me  staff   128B Sep  9 15:51 body/
drwxr-xr-x   8 me  staff   256B Sep  9 15:51 images/
-rw-r--r--   1 me  staff   186K Sep  9 15:58 rice-en.cd.alt.html
-rw-r--r--   1 me  staff   296K Sep  9 15:58 rice-en.cd.doc
-rw-r--r--   1 me  staff    26K S

[2020-09-10 10:23] ronaldtse commented on #62
Looks like it was supposed to be handled by this:
https://github.com/metanorma/packed-mn/blob/4f7dd68af20b9ed4ffae9dbb9acbea8531536804/bin/metanorma#L103-L112

But maybe the method name/signature changed?

Ping @CAMOBAP since this was your code 😉

[2020-09-10 19:11] #61 closed

[2020-09-11 03:19] ronaldtse commented on #62
Urgent, ping @CAMOBAP

[2020-09-11 04:55] CAMOBAP commented on #62
@ronaldtse on it

[2020-09-11 05:06] CAMOBAP commented on #62
Per logs:

"""
java -Xss5m -Xmx1024m -jar /var/folders/9_/plmb2sws0k1_8s29w7d6hqfh0000gn/T/d20200911-76722-1a866bu/mn2pdf.jar --xml-file "test-csd.presentation.xml" --xsl-file "/__enclose_io_memfs__/local/vendor/bundle/ruby/2.4.0/gems/metanorma-csa-1.6.2/lib/isodoc/csa/csa.standard.xsl" --pdf-file "test-csd.pdf"
"""

for some reason xsl files weren't unpacked, research still in progress

[2020-09-11 05:11] ronaldtse commented on #62
Correct, thanks for following up @CAMOBAP !

[2020-09-11 08:49] CAMOBAP commented on #62
The problem with "quotes". The fix on the way

[2020-09-12 01:27] ronaldtse opened #65 "(URGENT) Packed-mn auto-release failure??"
@CAMOBAP a new metanorma-cli has been released but it did not trigger a build here?

<img width="715" alt="image" src="https://user-images.githubusercontent.com/11865/92984071-250edb80-f4da-11ea-9f0e-fa33377d23ee.png">

[2020-09-12 04:15] #62 closed

[2020-09-12 04:43] CAMOBAP commented on #65
I think it may be related to test failure https://github.com/metanorma/metanorma-cli/runs/1102347518?check_suite_focus=true because we trigger dispatch_repository on `ruby = 2.6` for version v1.3.7.2

But release happens for  v1.3.7.3 because tests for `ruby = 2.6` passed successfully

<img width="828" alt="Screen Shot 2020-09-12 at 7 16 39 AM" src="https://user-images.githubusercontent.com/216973

[2020-09-12 07:16] CAMOBAP opened #66 "Notify snap, homebrew and chocolatey repositories"
We decided to use packed-mn instead of gem in our end-user tools

So we need replace `metanorma/metanorma-cli` with `metanorma/packed-mn` in https://github.com/metanorma/chocolatey-metanorma/blob/master/.github/workflows/release-tag.yml#L5

And modify current workflow in this repo to send `dispatch_repository`

[2020-09-12 09:44] ronaldtse commented on #66
Agree, thanks @CAMOBAP !

[2020-09-13 02:43] ronaldtse commented on #60
Latest build working, closing.

[2020-09-13 02:43] #60 closed

[2020-09-14 07:26] CAMOBAP commented on #65
release process will be improved in scope of https://github.com/metanorma/metanorma-cli/issues/174

[2020-09-14 07:26] #65 closed

[2020-09-27 13:02] CAMOBAP commented on #66
Done

[2020-09-27 13:02] #66 closed

[2020-11-10 10:13] CAMOBAP opened #68 "Release failed v1.3.8.1pre"

[2020-11-11 14:11] CAMOBAP commented on #68
Fixed

[2020-11-11 14:11] #68 closed

[2020-12-01 06:08] CAMOBAP opened #70 "v1.3.9pre wasn't triggered (ignored)"

[2020-12-04 11:48] CAMOBAP commented on #70
Fixed

[2020-12-04 11:48] #70 closed

[2020-12-14 17:05] CAMOBAP opened #71 "Bundler::Fetcher::CertificateFailureError Could not verify the SSL certificate for https://rubygems.org/."
https://github.com/metanorma/packed-mn/runs/1549962965?check_suite_focus=true#step:12:12816

[2020-12-14 17:12] CAMOBAP commented on #71
I will try update certs from https://curl.haxx.se/docs/caextract.html

[2020-12-26 13:12] CAMOBAP commented on #71
Well the fix pushed in out own form here https://github.com/metanorma/ruby-packer/releases/tag/v0.4.1

I successfully compiled macos `rubyc` but still fighting with Linux one

BTW I have tried last released rubyc but it's broken because of https://github.com/pmq20/ruby-packer/issues/75

[2020-12-27 14:59] CAMOBAP commented on #71
Fixed

[2020-12-27 14:59] #71 closed

[2020-12-27 15:00] CAMOBAP opened #74 "WIndows is broken"
- https://github.com/metanorma/mn-samples-itu/pull/133/checks?check_run_id=1610796355

[2020-12-27 16:09] CAMOBAP opened #75 "itu, ogc tests failed"
- https://github.com/metanorma/packed-mn/actions/runs/444220306
 - https://github.com/metanorma/packed-mn/actions/runs/444220304

[2020-12-28 01:26] ronaldtse commented on #71
Thanks @CAMOBAP !

[2020-12-29 22:32] CAMOBAP commented on #74
Looks like it happens from time to time trying to reproduce it

[2021-01-13 01:02] ronaldtse opened #76 "Failed build due to Nokogiri 1.11 only supporting Ruby 2.5+"
[code]

We have to version constrain nokogiri to use 1.10.x

[2021-01-13 14:53] opoudjis commented on #76
I did.

[2021-01-14 07:02] ronaldtse commented on #76
This can be closed?

[2021-01-14 08:51] CAMOBAP commented on #76
I think so

[2021-01-14 08:51] #76 closed

[2021-01-15 08:32] CAMOBAP commented on #74
This version of D:\a\packed-mn\packed-mn\build\metanorma.exe is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher.

[2021-01-17 11:32] CAMOBAP commented on #75
- itu - we moved to site-gen command
 - ogc - https://github.com/relaton/relaton-bib/issues/39 - fixed already waiting for the release

[2021-02-08 10:04] CAMOBAP commented on #74
After an explicit call with cmd, it returns a valuable exit code:
`Process completed with exit code -1073741515`

`-1073741515 == 0xC0000135` - which basically means "some dll not found"

I will continue the investigation to find out

[2021-02-13 01:17] ronaldtse commented on #75
Ping @CAMOBAP on progress. Thanks!

[2021-02-20 07:15] CAMOBAP commented on #74
Can be related to https://github.com/larsch/ocra/issues/168

[2021-02-21 10:39] CAMOBAP commented on #74
Fixed

[2021-02-21 10:39] #74 closed

[2021-02-22 16:49] CAMOBAP opened #79 "Replace default ruby icon with metanorma icon"
Windows metanorma app contains the default ruby icon.

cc @ronaldtse

[2021-02-22 16:51] ronaldtse commented on #79
Can we use this? <img width="98" alt="Screenshot 2021-02-23 at 12 50 40 AM" src="https://user-images.githubusercontent.com/11865/108740957-2eb06b00-7571-11eb-96f7-03fc8b85b089.png">

[2021-02-22 16:51] ronaldtse commented on #79
What file formats and dimensions do we need? Will try too provide.

[2021-02-22 16:58] CAMOBAP commented on #79
@ronaldtse thanks I will convert it to ico if need. It's not clear yet which format should be there I will check https://docs.microsoft.com/en-us/windows/win32/uxguide/vis-icons first

this PNG will be enough for start

[2021-03-01 19:50] CAMOBAP opened #80 "BIPM The git source https://github.com/metanorma/metanorma-cli is not yet checked out. Please run `bundle install` before trying to start your application (Bundler::GitError)"
https://github.com/metanorma/mn-samples-bipm/pull/30/checks?check_run_id=2006725491

[code]

[2021-03-05 12:13] CAMOBAP commented on #75
Per https://github.com/metanorma/mn-samples-gb/issues/38#issuecomment-790599432 make sense to remove gb

[2021-03-06 20:47] CAMOBAP opened #81 "metanorma:127:in `convert' wrong number of arguments (given 4, expected 3)"
Almost in all samples (mn-samples-jcgm, mn-samples-cc, mn-samples-ogc, mn-samples-mpfa, mn-samples-iec, mn-samples-iho) this error happens

[code]

[2021-03-06 21:08] CAMOBAP commented on #75
Current status:
 - ietf itu ogc iho - broken on each platform (corresponding tickets reported)
 - bipm - broken only on windows

[2021-03-07 11:52] CAMOBAP commented on #79
Done

[2021-03-07 11:52] #79 closed

[2021-03-07 18:22] #81 closed

[2021-03-07 18:23] CAMOBAP opened #83 "Failed to initialize SevenZipRuby (RuntimeError)"
`metanorma site generate build/cc -c build/cc/metanorma.yml --agree-to-terms`

[code]

[2021-03-08 06:12] ronaldtse commented on #75
@CAMOBAP the ITU tests pass now but are unable to generate PDF due to this:

[code]

Isn't this fixed? Or not released?

[2021-03-08 06:50] CAMOBAP commented on #75
@ronaldtse yep exactly it's fixed but not released yet + one more problem is blocking release for linux/macos https://github.com/metanorma/packed-mn/issues/83

[2021-03-08 09:42] ronaldtse commented on #83
@alexeymorozov would you be able to help here?

[2021-03-08 09:44] CAMOBAP commented on #83
@ronaldtse to be on the same page it' is clearly packed-mn issue which probably related to the wrong path in memfs

[2021-03-08 09:45] ronaldtse commented on #83
OK

[2021-03-20 10:00] CAMOBAP commented on #80
The same issue happens for other gems

[2021-03-20 10:01] CAMOBAP commented on #83
Fixed

[2021-03-20 10:01] #83 closed

[2021-03-20 10:03] CAMOBAP commented on #48
1 - already fixed my running each flavor in separate jobs
2 - will get fixed in the scope of #75
3 - will be double-checked in #80

[2021-03-20 10:03] #48 closed

[2021-03-25 11:26] CAMOBAP commented on #80
Fixed

[2021-03-25 11:26] #80 closed

[2021-03-25 11:27] CAMOBAP commented on #75
Separate tickets created for all failed flavors:
 - `ietf` - wait for release of https://github.com/metanorma/metanorma-ietf/commit/ca75ea3
 - `itu` - https://github.com/relaton/relaton-bib/issues/44
 - `ogc`  - https://github.com/metanorma/mn-samples-ogc/issues/119

[2021-03-25 11:27] #75 closed

[2021-03-25 11:29] CAMOBAP commented on #17
@ronaldtse to be on the same page we still plan to pack DMG or PKG for packed-mn. If so do we have a plan to distribute it via AppStore or somehow else?

[2021-03-25 11:35] ronaldtse commented on #17
Yes we should go the way of PKG or DMG. We will need to sign the DMG/PKG, which is doable. The problem is that this is a command line tool, which is a bit strange for a package, but I guess it’s something that we need to do.

[2021-03-25 13:29] CAMOBAP commented on #17
PKG can be simply created by `mkdir -p ./usr/local/bin && cp build ./usr/local/bin && productbuild --root ./usr/local/bin --timestamp --sign "${SING_IDENTITY}" Product-mn-2.pkg`

To get this sign identity we need to register in Apple developer program https://developer.apple.com/enroll

To generate DMG we also need to be members of Apple developer program

FYI @ronaldtse

[2021-03-25 19:20] CAMOBAP opened #86 "metanorma-utils starts resolving to old one 1.0.4"
- https://github.com/metanorma/packed-mn/actions/runs/686679807
 - https://github.com/metanorma/packed-mn/actions/runs/686679805

[2021-03-27 05:46] CAMOBAP commented on #86
Because packed-mn is an application (not gem) make sense to commit Gemfile.lock back to the repo

[2021-03-29 05:09] CAMOBAP opened #88 "Investigate ITU flavor failure"
Initially https://github.com/relaton/relaton-bib/issues/44 was reported, but this issue doesn't reproduce on `bundle exec metanorma site generate build/itu -o site/itu -c build/itu/metanorma.yml --agree-to-terms` (ruby script call)

But it happens for both `ocra` and `ruby-packer` executables, I have double-checked gem versions in those cases it's the same

[code]

[2021-04-09 08:32] CAMOBAP commented on #88
Tested on ruby 2.4.1 doesn't reproduces outside ruby-packer

[2021-04-10 18:59] CAMOBAP commented on #86
No reason to commit `Gemfile.lock` better to print lock file, to get issues as fast as possible

[2021-04-10 18:59] #86 closed

[2021-04-15 18:30] CAMOBAP opened #91 "libsmpack ffi/struct_layout.rb:88:in `get': invalid memory read at address=0x00000000000000 (FFI::NullPointerError)"
Happens on both linux and macos:
 - https://github.com/metanorma/packed-mn/runs/2344678405
 - https://github.com/metanorma/packed-mn/runs/2345205604

cc @ronaldtse @alexeymorozov

[2021-04-17 20:22] alexeymorozov commented on #91
I've managed to fix it locally by switching from Ruby 2.4.1 to 2.4.10. How can it be done in [ruby-packer](https://github.com/metanorma/ruby-packer)?

The bug can be reproduced locally:

[code]

[2021-04-17 20:24] CAMOBAP commented on #91
@alexeymorozov thanks for sharing this, let me have a look, previously I upgraded bundler to a new one, maybe I can do the same with ruby

[2021-04-19 03:57] CAMOBAP commented on #91
Well, ruby upgrade looks much more complex task than bundler upgrade. @alexeymorozov maybe you have some insights what exactly changes in ruby make this working on ruby 2.4.10?

P.S. I'm continue work on ruby upgrade

[2021-04-19 07:49] alexeymorozov commented on #91
I've tried to look through commits of Ruby update, but could not find the needed commit/fix. Seems that it happens on the second file in an archive, so some kind of pointer overwrite happens.

I saw there is some work on Ruby 2.6, may be we can use it?

[2021-04-22 07:38] alexeymorozov commented on #91
It works on Ruby 2.4.2, [build](https://github.com/alexeymorozov/packed-mn/runs/2399620614).

So we have at least 2 options: compile with Ruby 2.4.2+ or find the needed fix between 2.4.1 and 2.4.2.

[2021-04-22 07:46] CAMOBAP commented on #91
@ronaldtse @alexeymorozov
Update:
 - I will continue work on ruby 2.4.10 migration, I hope it will be done today

[2021-04-23 16:16] alexeymorozov commented on #91
Managed to compile [ruby-packer with Ruby 2.4.2 on Linux](https://github.com/alexeymorozov/ruby-packer/raw/packed-mn-2.4.2-patched/rubyc-linux-x64).

Also added [a patch (27 MB)](https://github.com/alexeymorozov/ruby-packer/raw/packed-mn-2.4.2-patched/packed-mn-binary.patch
) between original Ruby and Ruby of metanorma's ruby-packer.

Here is [a PR with Ruby source](https://github.com/alexeymorozo

[2021-04-23 17:36] CAMOBAP commented on #91
@alexeymorozov thanks I will merge it and release new ruby-packer, because I'm stuck with 2.4.10 upgrade

[2021-04-28 07:12] CAMOBAP commented on #91
Merged

[2021-04-28 07:12] #91 closed

[2021-04-28 07:12] CAMOBAP opened #94 "Windows iso test is broken"
- https://github.com/metanorma/packed-mn/actions/runs/788029152

[2021-04-28 17:09] #94 closed

[2021-04-28 17:10] CAMOBAP commented on #88
Fixed after gem update

[2021-04-28 17:10] #88 closed

[2021-04-30 08:59] ronaldtse commented on #88
Thanks @CAMOBAP !

[2021-05-11 04:59] CAMOBAP opened #95 "Nist failed for 1.4.8 release"
https://github.com/metanorma/packed-mn/actions/runs/828658501

I will investigate but, to be on the same page @ronaldtse should we have nist support in 'reglar' packed-mn build?

[2021-05-11 07:10] ronaldtse commented on #95
@CAMOBAP let's include NIST in regular build for now, we should split it off later.

[2021-05-19 14:08] CAMOBAP commented on #95
This problem exists for regular metanorm, so this one isn't packed-mn specific. I have reported ticket https://github.com/relaton/relaton-bib/issues/46

[2021-05-19 20:07] CAMOBAP commented on #95
Fixed in relaton 1.8.0, release restarted

[2021-05-19 21:17] CAMOBAP commented on #95
- win & osx passed, will reopen if linux will fail

[2021-05-19 21:17] #95 closed

[2021-05-30 02:10] ronaldtse opened #99 "(URGENT) relaton-iec dies when reading "ISO/IEC DIR 2""
https://github.com/metanorma/mn-samples-ogc/runs/2702879797?check_suite_focus=true

[code]

This is blocking generation of mn-samples-ogc.

[2021-05-30 07:21] CAMOBAP opened #100 "OCRA bundler issues"
For private gems on windows metanorma.exe fails with error:

<details><summary>Stacktrace</summary>
<p>

[code]

</p>
</details>

Cases:
 - https://github.com/metanorma/mn-samples-nist/pull/63#issuecomment-850951436
 - https://github.com/metanorma/mn-samples-bipm/pull/33#issuecomment-850951551
 - https://github.com/metanorma/mn-samples-bsi/pull/36#issuecomment-850951629

[2021-05-30 12:13] andrew2net commented on #99
@ronaldtse this issue was fixed in relaton-iec v 1.8.0

[2021-05-30 23:48] ronaldtse commented on #99
Thanks @andrew2net , @CAMOBAP can you confirm the fix in metanorma/mn-samples-ogc#121? Thanks.

[2021-05-31 05:40] CAMOBAP commented on #99
Testing...

[2021-05-31 11:45] CAMOBAP commented on #99
Fix proved by https://github.com/metanorma/packed-mn/tree/feature/put-back-testing-for-ogc

[2021-05-31 11:46] CAMOBAP commented on #99
Waiting for macos before merge

[2021-05-31 12:33] #99 closed

[2021-06-06 02:38] ronaldtse opened #102 "Update to use latest ruby-packer that uses Ruby 2.5.1"
https://github.com/metanorma/packed-mn/blob/ec63bd738e4857bf5f1b2f616378754b354265cf/Makefile#L26-L27

[2021-06-09 02:06] ronaldtse opened #104 "Do we need an 'mnenv'?"
It's generally difficult to switch metanorma versions. Terraform has `tfenv` in the same spirit as `rbenv`. Should we have an `mnenv` that uses the packed mn binaries?

Shouldn't be difficult to make?

[2021-06-23 14:17] opoudjis opened #105 "Create API for metanorma"
Immediate use: for users on metanorma.org to author Metanorma in asciidoc on a web browser as part of a tutorial exercise, and view some results interactively.

[2021-06-23 15:17] ronaldtse commented on #105
We need to deploy an api.metanorma.org that allows generating metanorma output, and a web UI for authoring documents.

@kickoke showed us the codeacademy tutorial interface and we're hoping to be able to deliver one of the two:
* best case: something like the codeacademy tutorial UI, in 3 columns: left the tutorial content, middle the code editor, right the preview
* worse case: tutorial content o

[2021-06-24 05:08] ronaldtse commented on #105
Ping @phuonghuynh , we need to create a lambda API that uses the Metanorma binary.

[2021-06-25 15:03] CAMOBAP commented on #102
Done

[2021-06-25 15:03] #102 closed

[2021-06-25 15:03] CAMOBAP commented on #100
More details here https://github.com/metanorma/packed-mn/pull/103#issuecomment-868470551

[2021-06-25 16:39] kickoke commented on #105
Screenshot from Codecademy as a reference:

![image](https://user-images.githubusercontent.com/13576110/123457873-4873c480-d5dc-11eb-9dd4-a37eacb3452c.png)

[2021-07-08 05:48] ronaldtse opened #107 "Ping to www.iso.org causing Metanorma to crash behind firewall"
https://github.com/metanorma/packed-mn/blob/5c8aefe418b8c0794e006db7b4f2933877962607/bin/metanorma#L177-L191

This is the cause of https://github.com/relaton/relaton/issues/92

User reports receiving this message:

[code]

This failure is due to the user being behind a corporate proxy, and unable to connect to www.iso.org.

This user should be running the latest version, he installed via homebrew

[2021-07-08 06:00] ronaldtse commented on #107
In addition, this users needs to access the internet via a corporate proxy (SOCKS). Therefore any kind of internet request will fail in this case.

[2021-07-08 07:12] ronaldtse opened #108 "Use CCADB SSL/TLS certificates store instead of curl's extracted repo"
We should use the CCADB's (which is run by Mozilla) certificate root bundle at:
`https://ccadb-public.secure.force.com/mozilla/IncludedRootsPEMTxt?TrustBitsInclude=Websites`

Instead of the curl's extracted one from FireFox.

[2021-07-09 04:19] ronaldtse opened #110 "Exclude private gems from public packed-mn"
https://github.com/metanorma/packed-mn/blob/82820a06ec24caf142f22b686a8ae223b33e4283/bin/metanorma#L195-L199

Private flavors should not be "required" because they are not packaged in this executable.

[2021-07-09 04:20] ronaldtse opened #111 "Switch to using mnconvert-ruby"
Need to change existing hack for mn2sts to mnconvert.

https://github.com/metanorma/packed-mn/blob/82820a06ec24caf142f22b686a8ae223b33e4283/bin/metanorma#L132-L144

Dependent on https://github.com/metanorma/metanorma-standoc/issues/492

[2021-07-09 10:26] ronaldtse commented on #107
@CAMOBAP can this be closed now? Thanks.

[2021-07-09 10:27] #107 closed

[2021-07-10 12:26] kickoke commented on #105
Any update on this?
Do you think this can happen within the next month?
If not, I will create the tutorials with downloadable material that the learner will need to edit on their own machine.

[2021-07-20 02:15] ronaldtse opened #113 "Build for v1.4.12 failing"
Ping @CAMOBAP

[2021-07-20 02:43] ronaldtse commented on #113
This is due to #111 , `mn2sts` is now deprecated.

[2021-07-21 06:26] CAMOBAP commented on #111
Done

[2021-07-21 06:26] #111 closed

[2021-07-21 06:37] CAMOBAP commented on #113
Fixed

[2021-07-21 06:37] #113 closed

[2021-08-28 01:37] ronaldtse opened #115 "Some failures in Windows execution of Metanorma binary"
https://github.com/metanorma/ogc-citygml-xmi/pull/30/checks?check_run_id=3447104241

[code]

[2021-08-30 13:13] CAMOBAP opened #116 "Windows 1.4.15pre failure"
[code]

cc @ronaldtse

[2021-08-30 15:49] ronaldtse commented on #116
Looks like an incompatibility in Ocra with the i18n gem? Gem and Ruby version issues?

[2021-08-30 15:50] CAMOBAP commented on #116
@ronaldtse yep looks like, I didn't checked deeply yet, but I will investigate

[2021-08-31 08:54] CAMOBAP commented on #115
This is a known issue https://github.com/metanorma/packed-mn/issues/100

Unfortunatelly I haven't time to look at it right now

[2021-08-31 08:54] #115 closed

[2021-09-06 14:48] CAMOBAP commented on #104
interesting idea... need to think about it

[2021-09-07 05:04] CAMOBAP commented on #116
Fixed

[2021-09-07 05:04] #116 closed

[2021-09-07 05:16] CAMOBAP commented on #110
Fixed

[2021-09-07 05:16] #110 closed

[2021-09-09 19:23] CAMOBAP opened #118 "Windows only | ffi-libarchive-binary/libarchive-13.dll': . (LoadError)"
[code]

[2021-09-11 08:59] CAMOBAP commented on #118
Originally found in https://github.com/metanorma/iso-10303-2/issues/49

Crash  related to missing dll dependency (ffi-libarchive->ffi-libarchive-binary->libarchive->libexpat-1). The last one libexpat-1 comes from msys2 this is why it doesn't fail on CI and in my environment initially

What I have done so far:
1. spent much time to find the root of the issue
2. checked possibility to build libarchi

[2021-09-20 09:02] maxirmx commented on #118
libarchive is the module that creates pain :)
On Linux its share version looks around to find  other shared libraries which can do the real work. For example, if liblzma.so is found then libarchive supports lzma encoding. Static libary is compiled against predefined set of static archive libraries at the time when binary distribution created. This is not necessarily theset of libraries which is pr

[2021-09-20 09:09] CAMOBAP commented on #118
As far as I understood it depends on which flags were feeded to `./configure`.
if we will pass `--without-lzma` it will not even try to lookup 'backend' library to do compression.

Agree this is what we did in https://github.com/fontist/ffi-libarchive-binary/pull/8

Yep, I have tried to put those missing DLLs in the same package where libarchive was, but "Windows doesn't like it" and still try to

[2021-09-20 09:11] CAMOBAP commented on #118
@maxirmx maybe you can share your opinion what are downsides of static link, I trying to decide should we do static link only for windows or for all our platforms.

 - Size not much different
 - AFAIK zlib and libexpat present on all Linux distribs because it's very basic libraries

Anything else we should consider?

[2021-09-20 17:06] CAMOBAP commented on #118
Fix verified

[2021-09-20 17:06] #118 closed

[2021-09-20 19:37] maxirmx commented on #118
IMHO statically linked module is easier to maintain.  No other thoughts

[2021-09-27 03:37] ronaldtse commented on #104
We may want this to go ahead since it’s very complex for users to manually manage versions that are working vs not working

[2021-09-27 05:41] CAMOBAP commented on #104
According to last investigations in https://github.com/metanorma/iso-10303-2/issues/49 it sounds more then reasonable.

Key features/requirkents:
 - 0 dependencies. so we may consider PowerShell implementation for Windows and BASH (or python) implementation for other OSes
 - Support `.metanorma-version` file in local directory and user directory.
 - `mnenv install` - to install metanorma
 - `mnenv

[2021-09-27 06:48] ronaldtse commented on #104
@CAMOBAP very good idea and great list. Let's create a repo for that.

[2021-09-27 06:50] ronaldtse commented on #104
Closing this since repo and new issue created.

[2021-09-27 06:50] #104 closed

[2021-10-04 16:08] CAMOBAP opened #120 "OCRA don't delete extracted file from temp directory and pollute the user's Temp"
<img width="633" alt="Screen Shot 2021-10-04 at 6 01 40 PM" src="https://user-images.githubusercontent.com/2169738/135884804-9591ed9b-837b-497e-9744-11294788627f.png">

single `ocra????.tmp` is about 350Mb and it creates on each run so after 10 runs user will have `-~3.5Gb` which is not good

We didn't use `--debug-extract` which may prevent delete, so this logic to be investigated in OCRA code ht

[2021-10-05 03:50] ronaldtse commented on #120
@CAMOBAP Technically the temp files can be deleted anytime so it's more of a system issue than an Orca issue. I suggest we ignore this for now because [tebako](https://github.com/tamatebako/tebako) is shaping up nicely as a cross-platform solution.

[2021-10-05 05:39] CAMOBAP commented on #120
@ronaldtse this sounds like a complete alternative to ruby-packed, and it's not ruby specific so looks like any software can be packed with it.

Have we already tried it somewhere?

[2021-10-05 05:56] ronaldtse commented on #120
We're going to use Metanorma as the first thing to pack in tebako. It has been tested with Ruby in a previous iteration and the new "more generic" architecture that is being implemented should work. We're hoping to avoid patching Ruby with this.

[2021-11-20 10:46] CAMOBAP opened #122 "Generate sha256 files for release"
- related to https://github.com/metanorma/chocolatey-metanorma/issues/64#issuecomment-974616754

[2021-11-23 10:16] strogonoff opened #123 "Regression: missing Linux build (required for Paneron)"
Paneron attempts to bundle Metanorma from https://github.com/metanorma/packed-mn/releases/latest/download/metanorma-linux-x64.tgz when building Linux distribution.

For the latest release, the above link returns 404.

I’ll add a workaround to allow Paneron builds without Metanorma for now, but just FYI.

[2021-11-23 14:42] ronaldtse opened #124 "(URGENT) Build failed for linux in 1.5.2"
https://github.com/metanorma/packed-mn/actions/runs/1466474915

This caused the Linux build not to release. This caused #123 .

We should probably fail all the builds if one fails (back again?)

[2021-11-23 14:54] CAMOBAP commented on #124
Looks like some weird error which should be handled on `fontist` side.

I will report a ticket and restart CI

[2021-11-23 14:58] CAMOBAP commented on #124
the stack trace is scarry but the issues related to:
[code]

So to me it looks like a temporary issue, if it will not gone after CI restart I will report a ticket

[2021-11-23 16:13] ronaldtse commented on #124
Thanks @CAMOBAP !

[2021-11-23 16:50] strogonoff commented on #123
I mean, according to @ronaldtse, packed-mn releases may not contain all platforms, but what logic should Paneron use then?

E.g., if latest release is missing build for platform X, should Paneron look for an older release that has X? It would work, though if APIs change between releases it could result in inconsistent cross-platform behavior. We can presume advanced user and show MN version at bui

[2021-11-24 15:44] CAMOBAP commented on #124
three times in a row I got other error probably related to fetching relaton data

[code]

[code]

@ronaldtse @andrew2net maybe this is some known issue?

Also is it possible to cache it? If yes which paths on FS

[2021-11-24 15:50] ronaldtse commented on #124
This is clearly a bug in relaton-w3c. Can you file a bug?

[2021-11-24 15:53] CAMOBAP commented on #124
@ronaldtse done https://github.com/relaton/relaton-w3c/issues/14 but I cannot assign it

[2021-11-24 15:54] ronaldtse commented on #124
Perms fixed.

[2021-11-25 13:03] CAMOBAP commented on #124
Restarted after fix https://github.com/metanorma/metanorma-snap/actions/runs/1503804515
Done

[2021-11-25 13:03] #124 closed

[2021-11-25 13:20] ronaldtse commented on #124
Thanks @CAMOBAP !

[2021-11-28 18:35] ronaldtse commented on #123
packed-mn for linux 1.5.2 is released. Closing.

[2021-11-28 18:35] #123 closed

[2021-12-02 05:55] CAMOBAP opened #125 "1.5.3 release SSL errors on tests"
SSL_connect returned=1 errno=0 state=error: certificate verify failed (unable to get local issuer certificate)

[2021-12-05 04:04] ronaldtse opened #128 "Add macOS arm64 version"
Dependent on https://github.com/actions/virtual-environments/issues/2187

[2021-12-05 04:24] ronaldtse opened #129 "Occasional segmentation fault when fetching Relaton from ITU"
https://github.com/metanorma/packed-mn/runs/4420287475?check_suite_focus=true#logs

Not sure what the cause is.

[code]

[2021-12-05 06:29] ronaldtse opened #130 "Compilation tests running too long"
Some jobs runs over 3hr30m:
https://github.com/metanorma/packed-mn/runs/4420287499?check_suite_focus=true

Yet this is only 17m:
https://github.com/metanorma/packed-mn/runs/4420287459?check_suite_focus=true

The amount of tests they run aren't that different. We need to find a way to streamline the tests. The explosion of single tests causes all the tests to run very slowly as GitHub throttles the

[2021-12-05 06:29] ronaldtse commented on #26
Not seeing this anymore. Closing.

[2021-12-05 06:29] #26 closed

[2021-12-05 06:33] ronaldtse commented on #17
@CAMOBAP sorry I missed this. We are a member of the program. A signed binary requires Apple notarisation. This thread gives a good example of what needs to be done:

https://developer.apple.com/forums/thread/130379

[2021-12-07 03:07] ronaldtse commented on #130
Maybe add a stage in between the "build" stage and the current "test" stage, where the important tests are run first, and then the optional tests?

[2021-12-07 05:03] ronaldtse opened #133 "Rename default branch to `main` from `master`"

[2021-12-07 07:10] CAMOBAP commented on #130
@ronaldtse good idea, what is must-pass flavors list for us?

[2021-12-07 08:37] ronaldtse commented on #130
I think we only need: `iso, cc, un, iec, ietf, ogc, bipm, csa`.

Technically we need `itu` and `iho`. But I don't know why they keep failing.

[2021-12-07 12:56] ronaldtse commented on #129
Also crashed in fetching from ISO:
https://github.com/metanorma/packed-mn/runs/4443597519?check_suite_focus=true

<details>

[code]

</details>

[2021-12-08 01:43] ronaldtse commented on #129
This may be related to this: https://github.com/pmq20/ruby-packer/issues/159

Apparently reading files from ruby-packer memfs is not thread safe.

[2021-12-08 09:35] #133 closed

[2021-12-08 09:35] ronaldtse commented on #133
Done.

[2021-12-08 09:45] ronaldtse commented on #129
Maybe we can do this!

We could replace this code:
https://github.com/metanorma/packed-mn/blob/c1904865ca7e5375ecb4acbf2e5e86fe682ebb9f/bin/metanorma#L178-L186

With:

https://ruby-doc.org/stdlib-2.4.0/libdoc/openssl/rdoc/OpenSSL/X509/Store.html
[code]

https://github.com/ruby/ruby/blob/007e439fe965871c73127928f7244ebb96a86e58/test/rubygems/test_bundled_ca.rb#L18-L26
[code]

https://github.com/rub

[2021-12-08 09:54] ronaldtse commented on #129
Trying here: https://github.com/metanorma/packed-mn/pull/132/commits/7de83a20b0afe484c69feb5f8d82b0422755c18a

[2021-12-08 14:04] ronaldtse opened #134 "Build failure due to download of source-fonts.zip (503 Egress Is Over The Account Limit)"
https://github.com/metanorma/packed-mn/runs/4457359092?check_suite_focus=true
[code]

[2021-12-08 14:04] ronaldtse commented on #134
Discussion at GitHub here: https://github.com/github/feedback/discussions/8535#discussioncomment-1772821

Apparently this is to do with the AWS outage at us-east-1, happening right now.

[2021-12-08 14:05] ronaldtse commented on #134
https://github.com/github/feedback/discussions/8535#discussioncomment-1772748

The adage rings true.

<img width="777" alt="Screenshot 2021-12-08 at 10 05 28 PM" src="https://user-images.githubusercontent.com/11865/145221844-d561b556-cbd2-4f9f-87a3-66f642b0cc7f.png">

[2021-12-08 14:10] ronaldtse opened #135 "Build failure due to unable to upload artifact"
https://github.com/metanorma/packed-mn/runs/4456932527?check_suite_focus=true

Failure to upload artifact.

[code]

I suspect this has to do with the recent (current) GitHub service downtime.

[2021-12-08 15:28] ronaldtse commented on #134
Says fixed here: https://github.com/github/feedback/discussions/8535#discussioncomment-1773168

[2021-12-08 15:28] #134 closed

[2021-12-08 15:29] ronaldtse commented on #129
This was temporarily fixed here: https://github.com/metanorma/packed-mn/pull/132/commits/09ffacf8c95b9c42a56c997650161679b4af2c02

[2021-12-08 15:30] ronaldtse commented on #130
I think we're okay now with #132. "max-parallel" set to 3.

[2021-12-08 15:30] #130 closed

[2021-12-09 11:46] CAMOBAP commented on #135
https://github.com/actions/upload-artifact/issues/270#issuecomment-989774151 - update

I will try to make this step optional

[2021-12-09 16:01] ronaldtse commented on #135
@CAMOBAP maybe that particular PDF is a funny one (e.g. 0 bytes in size). Can you help investigate?

[2021-12-13 19:36] #122 closed

[2021-12-13 23:15] ronaldtse commented on #122
Thanks @CAMOBAP !

[2021-12-14 16:42] CAMOBAP commented on #135
Original issue mentioned in the topic fixed

[2021-12-14 16:42] #135 closed

[2021-12-16 09:28] alexeymorozov opened #138 "Remove the SSL hack: all necessary certificates are contained"
The hack mentioned is:

https://github.com/metanorma/packed-mn/blob/c1904865ca7e5375ecb4acbf2e5e86fe682ebb9f/bin/metanorma#L178-L186

_Originally posted by @ronaldtse in https://github.com/metanorma/ruby-packer/issues/37#issuecomment-995289618_

[2021-12-17 15:18] ronaldtse commented on #128
This task is also possible with cross-compiling as described here:
https://stackoverflow.com/questions/65361672/build-apple-silicon-binary-on-intel-machine

[2021-12-18 06:44] ronaldtse opened #140 "Unable to install `rice-3.0.0` gem using Ruby 2.6.3 on macOS Monterey"
On Ruby 2.6.3, the `rice-3.0.0` gem is broken with `arch` detection, and there is no way we can fix it without making a new gem here.

[code]

https://github.com/jasonroelofs/rice/blob/9d0acb80d8654bfc6d0e65f35654d434ea66add9/extconf.rb#L48-L70
[code]

This particular code is used to detect `arch` and pass as `CPPFLAGS`, however, it fails because the result is an empty string (``).

[code]

The co

[2021-12-18 06:49] ronaldtse commented on #140
Ruby 2.7.3 works though.

[2021-12-18 14:02] ronaldtse commented on #125
I believe this is related to #129

[2021-12-18 15:13] ronaldtse opened #141 "Create linux/aarch64 workflow on CircleCI"
I'm running on Apple M1.

[code]

Run:
[code]

Output:
[code]

[2021-12-19 02:02] ronaldtse opened #142 "[ruby-packer]: Bundle on on macOS Monterey fails due to missing `liblibmspack.bundle`"
Not sure why macOS build is failing here:

[code]

_Originally posted by @ronaldtse in https://github.com/metanorma/packed-mn/issues/126#issuecomment-996052797_

[2021-12-19 02:03] ronaldtse commented on #142
From @CAMOBAP :

[2021-12-19 02:04] ronaldtse commented on #142
From @ronaldtse :

The only remaining issue now is the macOS build right now failing due to `liblibmspack.bundle` not found (when running `metanorma help`).

[code]

However, lo and behold, I do have this exact path in one of my installs!!

[code]
<img width="602" alt="Screenshot 2021-12-18 at 10 05 49 PM" src="https://user-images.githubusercontent.com/11865/146643848-957ff7ea-70de-46d3-8461-ba3eb

[2021-12-19 02:12] ronaldtse commented on #142
This is due to this code where it tries to add the `lib` prefix:
https://github.com/ffi/ffi/blob/7c70b829ab422dceeaf472436f3a38fca6ef8f0b/lib/ffi/library.rb#L44-L55

[code]

And this is where the search happens:
https://github.com/ffi/ffi/blob/7c70b829ab422dceeaf472436f3a38fca6ef8f0b/lib/ffi/library.rb#L95-L104
[code]

It's possible that the `libmspack` gem uses the `ffi_lib` method incorrectly.

[2021-12-19 02:35] ronaldtse opened #143 "Running time benchmark of Tebako generated packed-mn"
Using a locally-compiled packed-mn using Tebako on Linux:

[code]

I downloaded the latest ruby-packer generated metanorma 1.5.4pre from here:
https://github.com/metanorma/packed-mn/releases/tag/v1.5.4pre

Results:
[code]

When running the metanorma bundle directly (in the same container):
[code]

TLDR:

| type | real (in s) | user | sys |
| --- | --- | --- | --- |
| Native (Ruby 2.7.0) | 9.250 |

[2021-12-20 09:18] maxirmx commented on #143
I believe that it is not possible to avoid overhead for simple command like './metanorma-linux-x64 help'
Tebako memfs requires decompression and executable files are extracted to temp

I think for metanorma site generate the difference with native invokation wil be smaller

[2021-12-20 10:14] ronaldtse commented on #143
@maxirmx Why do we need to extract executable files to temp? That's what we're trying to avoid by directly mounting the DwarFS volume? Ruby-packer does not need to extract anything to temp.

[2021-12-20 11:09] maxirmx commented on #143
@ronaldtse
ruby-packer extracts shared libraries to tmp.  At least those libraries that it can detect.
Those libraries that ruby-packer cannot detect are extracted by the code added by @CAMOBAP

I do exactly the same.  There is no way to load shared libraries, jars etc, from memfs unless this memfs is mounted as conventional file system.

I believe we have discussed it here: https://github.com/tam

[2021-12-20 11:51] alexeymorozov commented on #142
As I currently see, we have [a patch](https://github.com/metanorma/packed-mn/blob/maxirmx-tebako-packager/bin/metanorma#L81) which extracts libs from memfs to file system. This patch failed to work since the path of a library starts with `__ruby_packer_memfs__` but the `COMPILER_MEMFS` constant was changed to `__tebako_memfs__`. We either need to provide tebako path for `ffi_lib`, or change the pa

[2021-12-20 13:26] alexeymorozov commented on #142
Anyway have done [a PR](https://github.com/ffi/ffi-compiler/pull/21) to `ffi/ffi-compiler`.

[2021-12-21 00:00] ronaldtse commented on #143
From glibc, can't we redirect `dlopen` and friends?

[2021-12-21 04:20] ronaldtse commented on #143
`dlopen` redirection aside, if we need to extract anything, we should have a consistent extraction path and handle caching (hashing).

And overriding `dlopen` can be done as shown in https://github.com/riboseinc/retrace:
https://github.com/riboseinc/retrace/blob/70800979fb7fa622fd2c03788b3e06058364ad24/src/v1/dlopen.c

[2021-12-21 04:48] ronaldtse commented on #142
The `liblib` prefix is clearly an error as we can see in the original code of FFI-Compiler. It never intended to add the `lib` prefix when the provided library name already includes `lib`. i.e. this is both wrong at the compilation phase and also at the usage phase.

Is there a way we can simplify this?

We probably should upstream all the necessary fixes rather than maintain our own ffi-compiler2

[2021-12-21 04:49] ronaldtse commented on #142
Thanks!

[2021-12-21 13:35] alexeymorozov commented on #142
Can do a PR to libmspack and remove the duplicate prefix.

I see two goals here: simplify debugging and simplify packed-mn.

Debugging can be improved by:
1. Log debug message when every time `extract_memfs` is called
2. Make extraction from both memfses
3. Try to patch `FFI::Library.ffi_lib` instead of the internal `FFI.map_library_name`
4. Try to patch `FFI::DynamicLibrary` which is a compiled C

[2021-12-21 16:27] maxirmx commented on #143
The issue not with redirecting dlopen, we redirect it already in order to use temp file we create.
dlopen is an entry to libdl (dynamic loader) that opens file and reads it.

You are probably talking not about overriding dlopen but to patch its internals or develop our own dynamic loader.  If you mean it,  I can create our version of dynamic loader.  I will ask for 3-4 months.

[2021-12-22 02:33] ronaldtse commented on #142
Yes please.

Perhaps we can add these issues directly to Tebako, since @maxirmx should have Tebako for macOS ready in a few weeks.

Ah I was not aware that ffi-compiler2 is maintained separately from the original ffi-compiler. If your fix is already upstreamed there's nothing else to be done (if the original maintainer of ffi-compiler is not active, there's nothing we can do).

[2021-12-22 05:13] ronaldtse commented on #143
I was thinking if we can have dlopen that redirects to files loaded via libdwarfs (from dwarfs image directly, not extracted as a temp file).

[2022-01-07 16:25] maxirmx commented on #142
I now have tebako-packaged bundle failing at MacOS because of this issue. Well, some issue related to libmspack.
Of course it is not very clear, since it crashes on 10.15/x86 (GHA),   returns reasonable error on arm86(local), but apparently works with ruby-packer.

This is the output I have
[code]

[2022-01-08 02:26] ronaldtse commented on #142
The problem seems to be that the compile-time and run-time environments slightly differ. The library path is sometimes recognized as `liblibmspack` but sometimes `libmspack`.

@alexeymorozov could you help do a PR for this? This is now blocking progress with Tebako, which we hope to have fixed soon...

[2022-01-08 22:38] maxirmx commented on #142
libmspack gem really has an extension with the name _liblibmspack(.so, .bundle, .dll)_
This is consistent in all environments. Furthermore _liblibmspack.so_ (for ubuntu x86) and _liblibmspack.dll_ binaries are prepackaged.

MacOS issue is related to glob that libmspack uses when it does not have prepackaged binary
Something like
[code]
I believe that in some environments ** **in the middle of the

[2022-01-09 05:35] ronaldtse commented on #142
@maxirmx great work with this.

The funny name is just an artifact of the "library name generation code", it is supposed to be just `libmspack`.

We do not need to fix ruby-packer anymore.

[2022-01-10 22:46] ronaldtse opened #146 "Include "sassc" gem in packed-mn"
There are three remaining failures in the Tebako version due to https://github.com/metanorma/isodoc/issues/367.

This is a bug in the metanorma-iso gem, that requires the “sassc” gem. The "sassc" gem requires "libsass" to be installed on Ubuntu.

However, it would be useful if we can package the “sassc” gem as well so that users can use custom SASS/SCSS files.

This task is to include the "sassc"

[2022-01-30 08:05] #146 closed

[2022-01-30 08:08] maxirmx opened #148 "[relaton-ieee] time out on fetching "IEEE Std 1516""
All platforms
[code]

_Originally posted by @maxirmx in https://github.com/metanorma/packed-mn/issues/147#issuecomment-1024530154_

[2022-01-30 20:37] andrew2net commented on #148
fixed in relaton-ieee v 1.10.0

[2022-01-30 20:37] #148 closed

[2022-02-01 18:30] CAMOBAP opened #149 "undefined method `full_gem_path' for nil:NilClass (NoMethodError)"
In order to deliver the linux binary we are 'wrapping' it into snap package

After migration to tebako I see the issue:

[code]

@maxirmx any idea why this may happens?

[2022-02-01 20:09] maxirmx commented on #149
Disclaimer.  I am not Ruby expert.

The line 154 (that was created prior to tebako)
[code]
always looked like a mistery for me since it was executed before explicit or implicit _require 'seven_zip_ruby'_
I was not able to make it work in any code other then metanorma wheather I packaged it with tebako or called unpackaged

In my much simplified test for this gem I am using:
[code]
https://github.c

[2022-02-01 20:28] CAMOBAP commented on #149
Thanks, hmm interesting why it doesn't fail on CI for this repo...
I will check if the issue reproduced without Gemfile in CWD

[2022-02-08 15:44] #149 closed

[2022-03-04 00:11] ronaldtse opened #154 "Release latest version with #153 fix"
We need to create a new release for packed-mn to release the fix for #153.

[2022-03-08 06:59] ronaldtse opened #155 "Update packed-mn release for Windows with libmspack test files removed in ruby-libmspack"
This has now been merged: https://github.com/davispuh/ruby-libmspack/issues/2#issuecomment-1040625023

We want to re-release on Windows for a new Chocolatey package that does not trigger virus warnings:
https://github.com/metanorma/chocolatey-metanorma/issues/69

[2022-03-13 07:31] CAMOBAP commented on #154
Done in 1.5.11

[2022-03-13 07:31] #154 closed

[2022-03-23 12:07] CAMOBAP commented on #155
Released today https://github.com/metanorma/packed-mn/actions/runs/2026985237

I will keep this open till get virus report

[2022-03-23 14:32] CAMOBAP commented on #155
Well, report changes +1 issue, so the total is 9 now, unfortunately, I cannot get more details from the virus scan https://www.virustotal.com/graph/61b6b6c08372af64a5a2b19a9bbb5413e7f22db418e34e9e3d422a8350fd8a68 because of my account restriction.

Most issues stay the same so I asked chocolatey admins to approve it manually

[2022-03-24 00:59] #142 closed

[2022-03-24 01:01] ronaldtse commented on #140
Fixed, we're using Rice 4.0.0 now.

[2022-03-24 01:01] #140 closed

[2022-03-24 01:06] ronaldtse commented on #100
All done.

[2022-03-24 01:06] #100 closed

[2022-03-24 01:08] #125 closed

[2022-03-24 01:32] ronaldtse opened #157 "Clean up after migration to Tebako: do we still need some ruby-packer hacks?"
https://github.com/metanorma/packed-mn/blob/111c0b258f7c041b267845fb93b5f2a624039123/bin/metanorma#L220-L228

https://github.com/metanorma/packed-mn/blob/111c0b258f7c041b267845fb93b5f2a624039123/bin/metanorma#L230-L248

[2022-03-24 01:32] ronaldtse commented on #138
Do we still need this code?

[2022-03-25 08:21] #138 closed

[2022-03-26 07:18] ronaldtse opened #158 "Add Alpine linux build for packed-mn"
I suppose we will need to update Tebako to support this?

[2022-03-26 07:51] maxirmx commented on #158
We will have to create build scripts for everything
folly
dwarfs
libdwarfs
tebako-patched ruby

There are some known issues with folly (ref https://github.com/facebook/folly/issues/1478)  This is something to start with.

[2022-03-28 14:00] ronaldtse commented on #158
For Ruby, this is how the Docker team compiles Ruby on Alpine: https://github.com/docker-library/ruby/blob/master/3.1/alpine3.15/Dockerfile

[2022-04-01 12:55] CAMOBAP commented on #155
Last package was approved, so I closing this one, but for long term I will still think how we can research such issues in the future

[2022-04-01 12:55] #155 closed

[2022-04-02 20:15] maxirmx commented on #158
Well, they have broken ncurses package
![image](https://user-images.githubusercontent.com/2081498/161399583-33c428f0-4db0-4b21-8172-0ff5096e5031.png)

static library is missing though the link is there. This is not a showstopper, but another package to build and install manually

[2022-04-05 01:43] ronaldtse commented on #158
Is this a bug with Alpine? If so, we probably should report to Alpine?

[2022-04-05 07:15] maxirmx commented on #158
Prior to v3.15 there is no ncurses static library at all
In 3.15 there is a bug as shown
In the latest edge (unstable) it is fixed, so I do not think we need to report.
I  consider it too risky to use to unstable version.

[2022-04-05 07:23] ronaldtse commented on #158
Got it, then we should make packed-mn available for Alpine > 3.15, ignoring 3.15.

[2022-04-09 18:37] maxirmx commented on #158
https://github.com/facebook/folly/issues/1754

[2022-05-04 10:17] ronaldtse opened #159 "Add winget package for packed-mn"
Winget is the default command-line package manager in Windows 10.

`wingetcreator` from Microsoft to create a manifest for winget:
* https://github.com/microsoft/winget-create

* https://www.dolthub.com/blog/2021-10-13-how-to-publish-winget-chocolatey-packages-with-github-actions/
* Sample of how others package their code in winget: https://github.com/dolthub/windows-msi-creator

[2022-05-04 10:18] ronaldtse commented on #159
Our investigation was done at https://github.com/metanorma/chocolatey-metanorma/issues/62

[2022-05-13 10:58] CAMOBAP opened #160 "Macos, Undefined symbols for architecture x86_64: google::ErrnoLogMessage::ErrnoLogMessage"
During the v1.5.15 release, we faced with issue ([full logs](https://github.com/metanorma/packed-mn/actions/runs/2304713353))

[code]

It doesn't seem that anything changed between `v1.5.15-pre.1` ([passed](https://github.com/metanorma/packed-mn/runs/6187551396?check_suite_focus=true) and `v1.5.15` (failed) releases. So it probably related to some third party library

According to the logs, it loo

[2022-05-13 11:27] maxirmx commented on #160
With v1.5.15-pre.1   build homebrew installed **glog 0.5.0**;    when you ran v1.5.15 a couple of days later it installed **glog 0.6.0**  and it looks like it is not backwards compatible.

(This is not cached)

I will fix it today.

[2022-05-14 10:09] #160 closed

[2022-05-16 10:19] maxirmx opened #163 "Pack tebako source_filesystem with tar.gz and upload as GHA artifact for further inspection"
2. packed-mn GHA build step leaves folder/files that were packed at  ```.archive/tebako/output/source_filesystem```
We can pack it with tar.gz   and upload as GHA artifact for further inspection

_Originally posted by @maxirmx in https://github.com/metanorma/packed-mn/issues/162#issuecomment-1127435609_

[2022-05-16 23:03] #163 closed

[2022-06-06 16:08] maxirmx commented on #158
Alpine 3.16 (which is now 'latest') installs gcc 11.x that does not work for seven_zip_ruby
https://github.com/masamitsu-murase/seven_zip_ruby/issues/36

[2022-06-08 21:59] CAMOBAP commented on #159
Related ticket https://github.com/metanorma/winget-metanorma/issues/1

[2022-06-10 19:16] maxirmx commented on #158
**Status**
I have created a preliminary version of Alpine CI script

- seven_zip_ruby compatibility issue  Alpine 3.16 (which is now 'latest') installs gcc 11.x that does not work for seven_zip_ruby https://github.com/masamitsu-murase/seven_zip_ruby/issues/36
I am dealing with it by building on Alpine 3.15  but it can be considered short term solution obly

- expressir musl compatibility issue htt

[2022-06-17 20:14] CAMOBAP opened #166 "Upgrade bundler version to > 2.3.3 to avoid Calling `DidYouMean::SPELL_CHECKERS.merge!(error_name => spell_checker)' has been deprecated"
Some time ago I noticed the warning message:

[code]

Per https://github.com/rubygems/rubygems/issues/5234 it's fixed for bundler > 2.3.3, probably it make sense to upgrade bundler

[2022-06-18 12:32] ronaldtse commented on #166
Agree, thanks!

[2022-06-18 12:33] ronaldtse commented on #166
@maxirmx would you be able to help with this? Thanks!

[2022-06-18 12:35] maxirmx commented on #166
Yes, I did it in Alpine branch.
I will rebase it

[2022-06-19 07:37] #166 closed

[2022-06-19 07:45] ronaldtse commented on #166
Thank you @maxirmx !

[2022-06-23 14:40] maxirmx opened #169 "Alpine workflow backlog"
This issue is a backlog for the first version of Alpine CI script.
Although the issues below are not blockers fixing them will improve usability or/and maintainability:

-  https://github.com/masamitsu-murase/seven_zip_ruby/issues/36
Impact:  we have to build on Alpine 3.15.  Builds on 3.16+ will fail.
Complexity to fix: low

- https://github.com/lutaml/expressir/issues/106
Impact: we have to use

[2022-06-23 21:25] maxirmx opened #170 "Move env settings to `.env`, (to avoid duplication) and use to read it https://github.com/marketplace/actions/dotenv-action"
I have a proposal to move those values to `.env`, (to avoid duplication) and use to read it https://github.com/marketplace/actions/dotenv-action

_Originally posted by @CAMOBAP in https://github.com/metanorma/packed-mn/pull/168#discussion_r905404872_

[2022-06-24 01:50] ronaldtse commented on #170
Makes sense. Let's proceed.  Thanks!

[2022-06-24 08:10] maxirmx commented on #170
This action does not set operating system environment variables.
It reads ```.env``` file and make the values available in GHA environment

If, for example, there is .env file with
[code]

and apply it as
[code]

this will make my variable accessible as
[code]
but not in the runner OS

[2022-06-24 08:11] maxirmx commented on #170
I can probably fork and extend this action to push environment into runner OS
It does not look to hard, imho shalll be separated from alpine effort

[2022-06-24 09:04] CAMOBAP commented on #170
@maxirmx https://github.com/marketplace/actions/environment-variables-from-dotenv looks more suitable because it actually provides env vars (per description)

[2022-06-24 10:05] maxirmx commented on #170
This action is a 10-lines  bash script that runs in docker container.
And it terminates with error that makes no sense for me.

I will fork from falti/dotenv-action@v0.2.8  and missing output.

[2022-06-24 10:15] maxirmx commented on #170
Wait, what this action shall do is actually a one-liner:
[code]

[2022-06-25 09:10] #158 closed

[2022-06-25 09:10] #170 closed

[2022-06-25 13:53] maxirmx opened #171 "Simplification of tebako workflow"
We should move the Tebako dependencies either in a tebako-specitic GitHub action to reuse here (there are too many steps here) or find a way to simplify this workflow.

_Originally posted by @ronaldtse in https://github.com/metanorma/packed-mn/pull/168#pullrequestreview-1019287447_

[2022-06-25 14:20] maxirmx commented on #141
IMHO with the latest fixes to expressir it shall be possible to build linux/aarch64 version of packed-mn on linux/aarch64 host

We can probably automate this workflow on Circe CI  (https://circleci.com/docs/2.0/using-arm)

[2022-06-25 14:24] maxirmx commented on #157
I guess the second hack (gems explicitly loaded) shall not be required with tebako.
The first hack (certificates) is Windows-only.  Linux/MacOS code does not execute it.

[2022-06-25 15:49] ronaldtse opened #173 "Add IEEE flavor test"
We have to add an IEEE test now that metanorma-ieee exists, but we do not have samples prepared for it yet.

[2022-06-25 15:50] ronaldtse commented on #157
@maxirmx that would be wonderful. Please help remove those we don't need. Thanks!

[2022-06-25 20:43] maxirmx commented on #157
Closed by #172

[2022-06-25 20:43] #157 closed

[2022-06-26 03:19] ronaldtse commented on #141
@maxirmx this is great news, it does look like GHA will have this feature by FY 2022: https://github.com/actions/virtual-environments/issues/2187 .

I have enabled CircleCI for the Metanorma org. Could you help try building packed-mn using the linux/aarch64 version?

[2022-08-26 02:24] ronaldtse opened #175 "(URGENT) Windows run for packed-mn failed at latest release"
https://github.com/metanorma/packed-mn/runs/8024850532?check_suite_focus=true

The previous release contained a bug in metanorma-ogc that would fail on encountering requirements. We need to release this ASAP.

Example of this failure:
https://github.com/metanorma/ogc-GeoPose/runs/8028086129?check_suite_focus=true

[2022-08-26 07:56] CAMOBAP commented on #175
More details:

 - Exception code: 0xc0000005 - ([memory error](https://docs.microsoft.com/en-us/previous-versions/troubleshoot/visualstudio/foxpro/c0000005-error-troubleshoot))
 - Fault offset: 0x00004052

Also for the last executable, Windows blocks the execution with:

![VirtualBox_MSEdge - Win10 clean_26_08_2022_08_28_15](https://user-images.githubusercontent.com/2169738/186850690-7f8de990-9fed

[2022-08-26 08:45] CAMOBAP commented on #175
<details>
  <summary>Diff bundler log</summary>

[code]
</details>

Because we are updated other deps multiple times without any issues I think that there must be something related to bundler gem update. Trying to build with `2.3.20` bundler

[2022-08-26 15:09] CAMOBAP commented on #173
Looks like we already have it https://github.com/metanorma/mn-samples-ieee

[2022-08-26 15:30] ronaldtse commented on #173
Yes it was created afterwards. Now we just need to integrate it into our release test flow?

[2022-08-26 15:31] CAMOBAP commented on #173
I will after passing windows 1.5.24 release

[2022-08-26 17:00] CAMOBAP commented on #175
Release on the way https://github.com/metanorma/chocolatey-metanorma/actions/runs/2935317819

[2022-08-27 06:48] ronaldtse commented on #175
@CAMOBAP did the bundler downgrade help with Windows Defender? I feel that these were due to Orca extracting out files to the temp directory.

[2022-08-27 06:53] CAMOBAP commented on #175
@ronaldtse I think actual fix was to add back `--gemfile` + remove `require "bundler/setup"`, let me unfreeze bundler version

[2022-08-29 06:12] CAMOBAP commented on #175
Done

[2022-08-29 06:12] #175 closed

[2022-09-07 08:07] maxirmx opened #178 "All tests fail with "ERROR: Can't find header dir for ruby" message"
- This happens on all platforms including Windows (so it is not related to tebako)
- The message is generated by RubyInline gem attempting to recompile embedded C code
- RubiInline is called by png

[2022-09-07 08:23] ronaldtse commented on #178
Thanks @maxirmx for investigating. @opoudjis do we need the png gem?

[2022-09-07 08:23] maxirmx commented on #178
RubyInline creates a kind of binary extension for a gem (png in our case)
But the extension is created on ```require``` not on ```gem/bundle install```.
Tebako does ```bundle install``` into pristine environment and packages whatever is created there.  So there is no binary for inlined code

[2022-09-07 08:24] maxirmx commented on #178
I can add a custom step to tebako so that some Ruby code is executed before packaging
I guess if we call ```require png``` there it will solve the problem

[2022-09-07 09:12] ronaldtse commented on #178
I actually wonder if we need the png gem at all in Metanorma. If not then we don't need rubyinline. However, I'm also not sure if there is a generic way of solving this.

[2022-09-07 10:03] maxirmx commented on #178
We can have bundler plugin that implements post install hook that calls require for all gems, referencing RubyInline

[2022-09-07 10:27] ronaldtse commented on #178
Calling "require" on all bundled gems is a reasonable requirement, for example, Opal also does that.

As a side note, I wonder if we should also consider the bundler "vendor" mode which places all the gems in one directory that allows easy packaging.

[2022-09-07 13:26] maxirmx commented on #178
png is outdated (2015). I use the newer gem: https://rubygems.org/gems/libpng-ruby
Sorry, I did not notice it earlier

[2022-09-07 13:26] maxirmx opened #179 "Calling "require" on all bundled gems is a reasonable requirement, for example, Opal also does that."
Calling "require" on all bundled gems is a reasonable requirement, for example, Opal also does that.

As a side note, I wonder if we should also consider the bundler "vendor" mode which places all the gems in one directory that allows easy packaging.

_Originally posted by @ronaldtse in https://github.com/metanorma/packed-mn/issues/178#issuecomment-1239204504_

[2022-10-11 13:01] opoudjis commented on #178
And I have removed the png gem from standoc; it turns out we didn't need it after all.

[2022-10-12 07:45] ronaldtse commented on #178
Great, let's get that gem removed.

[2022-10-26 04:51] ronaldtse opened #182 "Windows usage of packed-mn binary slow to start up"
It was reported by a Metanorma user that the Windows binary takes several seconds before it can be executed on every run.

This is likely due to the extraction step taking time to extract.

It is also related to:
* https://github.com/tamatebako/tebako/issues/74
* https://github.com/tamatebako/tebako/issues/11

[2022-11-29 12:55] #173 closed